<article class="card_dirction" style="background-image: url('/image/{{img}}');">
  <div class="bgc_wrap">
    <div class="fix_center"></div>
    <h2 class="title">{{toHTML title}}</h2>
    <a href="{{href}}" class="button color_transparent hover_white size_norm">
      Подробнее
    </a>
  </div>
</article>