<article class="card_dirction">
  <div class="bgc_wrap">
    <div class="fix_center"></div>
    <h2 class="title">Аспирантура<br/>гпнтб со ран</h2>
    <button class="button color_transparent hover_white size_md">
      Подробнее
    </button>
  </div>
</article>