<article class="card_review">
  <div class="person">
    <div class="img_block">
      <img src="" alt="" class="img">
    </div>
    <div class="full_name">
      <span class="last_name">{{getName fullName}}</span><br/>
      <span class="position">Кандидат педагогичкских наук</span>
    </div>
  </div>
  <dvi class="course">
    <a class="course_item">Культурно-досуговая деятельность библиотек в современных социокультурных условиях</a>
    <ul class="stars_list">
      <li class="star activ">
        <img src="/image/icons/star_fill.svg" class="icon"/>
      </li>
      <li class="star activ">
        <img src="/image/icons/star_fill.svg" class="icon"/>
      </li>
      <li class="star activ">
        <img src="/image/icons/star_fill.svg" class="icon"/>
      </li>
      <li class="star activ_half">
        <img src="/image/icons/star_fill_half.svg" class="icon"/>
      </li>
      <li class="star">
        <img src="/image/icons/star_empty.svg" class="icon"/>
      </li>
    </ul>
  </dvi>
  <div class="review">
    <p class="review_text">
      «Во-первых, очень чёткая организация. Во-вторых, сама тематика подобрана
      с большим знанием проблем. В-третьих, дистанционная форма проведения занятий 
      — самая подходящая. Спасибо за курс, было очень интересно и познавательно.
      Всё применимо на практике».
    </p>
  </div>
  <div class="review_status">
    <div class="date">
      <span>15 марта 2020</span>
    </div>
    <div class="like">
      <div class="icon_review_fire">
        <img src="/image/icons/review_fire.svg" class="icon"/>
      </div>
      <span class="count_like">
        55
      </span>
    </div>
  </div>
</article>