<article class="card_teacher">
  <div class="person">
    <div class="img_block">
      <img src="" alt="" class="img">
    </div>
    <div class="full_name">
      <span class="last_name">Тихомирова</span><br/>
      <span class="first_name">Сабина Ильинична</span>
      <span class="position">Кандидат педагогичкских наук</span>
    </div>
  </div>
  <ul class="course_list">
    <li class="course_item">Библиографическое описание. Общие требования и правила составления</li>
    <li class="course_item">Современные инфокоммуникационные технологии. Технологии «ИРБИС»</li>
    <li class="course_item">Культурно-досуговая деятельность библиотек в современных социокультурных условиях</li>
  </ul>
  <ul class="education_list">
    <li class="education_item">
      <span class="item">Образование</span>
      -
      <span class="status">ОМГПУ, ОМГУПС</span>
    </li>
    <li class="education_item">
      <span class="item">Стаж</span>
      -
      <span class="status">7 лет</span>
    </li>
    <li class="education_item">
      <span class="item">Форма обучения</span>
      -
      <span class="status">Онлайн / Оффлайн</span>
    </li>
  </ul>
  <button class="button size_mds">Подробнее</button>
</article>