<div class="swiper-container">
    <div class="swiper-wrapper">
        {{getCaruselList this}}
      {{!-- 
      <div class="swiper-slide"><div class="container">

        <div class="slide_course">
          <div class="top">
            <div class="course">
              <div class="title">Цифровые инструменты и сервисы в современной библиотеке</div>
              <div class="date">
                <span class="start"><span class="bold">Старт</span> - 1 сентября 2021 года</span>
                <span class="hours"><span class="bold">Количество часов</span> - 252 часа</span>
                <span class="period"><span class="bold">Срок обучения</span> - 3 месяца</span>
              </div>
              <div class="review">
                {{getStarsCourse this.[0].data.review}}
                <div class="count">({{this.[0].data.review.length}} отзыва)</div>
              </div>
            </div>
            <div class="price">₽ 579900</div>
          </div>
          <a href="#99" class="button color_red size_norm">Подробнее</a>
        </div>

      </div></div>
      <div class="swiper-slide"><div class="container">
        <div class="content">slide 2</div>
      </div></div>
      <div class="swiper-slide"><div class="container">
        <div class="content"> slide 3</div>
      </div></div>
      <div class="swiper-slide"><div class="container">
        <div class="content">slide 4</div>
      </div></div> --}}
      
    </div>
    <div class="pagination_wrapper">
      <div class="swiper-button-prev"></div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-next"></div>
    </div>
  </div>