<footer class="footer">
  <div class="logo">
    <img src="/image/white_logo.svg" alt="Logo">
  </div>
  <h2 class="title">Отдел непрерывного профессионального образования ГПНТБ СО РАН</h2>
  <ul class="social__list">
    <li class="social_item">
      <a href="#fb" class="fb"></a>
    </li>
    <li class="social_item">
      <a href="#in" class="in"></a>
    </li>
    <li class="social_item">
      <a href="#tw" class="tw"></a>
    </li>
  </ul>
  <h3 class="title_ogr">ГПНТБ СО РАН - 2021</h3>
  <button class="arrow_up"></button>
</footer>