<div class="contacts container">
  <h2 class="title">Контакты</h2>
  <div class="grid">
    <div class="work-schedule">
      <h3 class="title">Отдел непрерывного профессионального образования</h3>
      <address class="address">
        ул. Восход, 15, Новосибирск,<br />
        Новосибирская обл., 630102<br/><br/>
        Кабинет - 512
      </address>
      <div class="schedule">
        <div>
          <b>Вторник</b>
          <span>8:30 — 17:00</span>
        </div>
        <div>
          <b>Среда</b>
          <span>8:30 — 17:00</span>
        </div>
        <div>
          <b>Четверг </b>
          <span>8:30 — 17:00</span>
        </div>
        <div>
          <b>Пятница</b>
          <span>8:30 — 17:00</span>
        </div>
        <div>
          <b>Суббота</b>
          <span class="red">Выходной</span>
        </div>
        <div>
          <b>Воскресенье</b>
          <span class="red">Выходной</span>
        </div>
        <div>
          <b>Понедельник</b>
          <span >8:30 — 17:00</span>
        </div>
      </div>

      <div class="phone">
        <a href="tel:+73833730658">(383) 373-06-58</a>
      </div>

      <div class="email">
        <a href="mailto:guzenok@gpntbsib.ru">guzenok@gpntbsib.ru</a>
      </div>
    </div>

    <div class="map"></div>
  </div>
</div>