<section class="head">
  <div class="container">
    <h1 class="title">
      Отдел непрерывного профессионального образования
    </h1>
    <p class="description">
      Создание приверженного покупателя, анализируя результаты
      рекламной кампании, переворачивает жизненный цикл продукции.
    </p>
    <section class="organizers">
      <article class="card_organizer vcard">
        <div class="img_block">
          <img src="/image/oraganizators/1.png" alt="Гузенок Ирина Валерьевна" class="photo">
        </div>
        <div class="person">
          <div class="name">
            <span class="surname fn">Гузенок</span>
            <span class="fullname fn">Ирина Валерьевна</span>
          </div>
          <span class="education">Кандидат технических наук</span>
          <span class="position title">
            Заведующий отделом непрерывного профессионального образования
          </span>
        </div>
        <div class="contact">
          <div class="phone tel">
            <span class="value">(383) 373-06-58</span>
          </div>
          <div class="email">
            <span class="value">guzenok@gpntbsib.ru</span>
          </div>
        </div>
      </article>
      <article class="card_organizer vcard">
        <div class="img_block">
          <img src="/image/oraganizators/2.png" alt="Туманик Екатерина Николаевна" class="photo">
        </div>
        <div class="person">
          <div class="name">
            <span class="surname fn">Туманик</span>
            <span class="fullname fn">Екатерина Николаевна</span>
          </div>
          <span class="education">Кандидат технических наук</span>
          <span class="position title">
            Заведующий аспирантурой отдела непрерывного проф. образования
          </span>
        </div>
        <div class="contact">
          <div class="phone tel">
            <span class="value">(383) 373-06-58</span>
          </div>
          <div class="email">
            <span class="value">tumanik@gpntbsib.ru</span>
          </div>
        </div>
      </article>
      <article class="card_organizer vcard">
        <div class="img_block">
          <img src="/image/oraganizators/3.png" alt="Бегишева Анастасия Михайловна" class="photo">
        </div>
        <div class="person">
          <div class="name">
            <span class="surname fn">Бегишева</span>
            <span class="fullname fn">Анастасия Михайловна</span>
          </div>
          <span class="position title">
            Главный специалист по учебно-методической работе
          </span>
        </div>
        <div class="contact">
          <div class="phone tel">
            <span class="value">(383) 373-06-58</span>
          </div>
          <div class="email">
            <span class="value">begisheva@gpntbsib.ru</span>
          </div>
        </div>
      </article>
      <article class="card_organizer vcard">
        <div class="img_block">
          <img src="/image/oraganizators/3.png" alt="Cемыкина Анастасия Николаевна" class="photo">
        </div>
        <div class="person">
          <div class="name">
            <span class="surname fn">Cемыкина</span>
            <span class="fullname fn">Анастасия Николаевна</span>
          </div>
          <span class="position title">
            Ведущий специалист по учебно-методической работе
          </span>
        </div>
        <div class="contact">
          <div class="phone tel">
            <span class="value">(383) 373-06-58</span>
          </div>
          <div class="email">
            <span class="value">semykina@gpntbsib.ru</span>
          </div>
        </div>
      </article>
    </section>
  </div>
</section>