<section class="information container">
  <div class="links-container">
    <ul>
      <li>
        <a href="#main-info" class="active">
          Основные сведения
        </a>
      </li>
      <li>
        <a href="#structure-organization">
          Структура и органы управления
          образовательной организацией
        </a>
      </li>
      <li>
        <a href="#docs">
          Документы
        </a>
      </li>
      <li>
        <a href="#management">
          Руководство. Педагогический
          (научно-педагогический) состав
        </a>
      </li>
      <li>
        <a href="#process">
          Материально-техническое обеспечение и
          оснащенность образовательного процесса
        </a>
      </li>
      <li>
        <a href="#support">
          Стипендии и иные виды материальной поддержки
        </a>
      </li>
      <li>
        <a href="#activity">
          Финансово-хозяйственная
          деятельность
        </a>
      </li>
      <li>
        <a href="#">
          Образовательная платформа
          «Непрерывное проф. образование в ГПНТБ СО РАН»
        </a>
      </li>
      <li>
        <a href="#">
          Вакантные места для приема
          (перевода) обучающихся
        </a>
      </li>
      <li>
        <a href="#">
          Доступная среда
        </a>
      </li>
      <li>
        <a href="#">
          Международное сотрудничество
        </a>
      </li>
    </ul>
  </div>
  <div class="info-container">
    <h2 class="title" id="main-info">
      Основные сведения
    </h2>
    <div class="paper">
      <p class="text">
        Государственная публичная научно-техническая библиотека
        (ГПНТБ СО РАН) осуществляет профессиональную подготовку
        специалистов библиотечно-информационной сферы
        с 1 апреля 1964 г. (<a href="#">краткая историческая справка</a>).
      </p>
      <p class="text">
        Отдел непрерывного профессионального образования ГПНТБ СО РАН,
        созданный 1 марта 2019 г., осуществляет образовательную
        деятельность по программам подготовки научно-педагогических
        кадров в аспирантуре и по дополнительным профессиональным
        программам (повышение квалификации, профессиональная
        переподготовка).
      </p>

      <h3 class="subtitle">
        Информация об учредителе
      </h3>

      <p class="text">
        ГПНТБ СО РАН является унитарной некоммерческой организацией,
        созданной в форме федерального государственного бюджетного
        учреждения. Учредителем и собственником ГПНТБ СО РАН является
        Российская Федерация. Функции и полномочия учредителя ГПНТБ
        СО РАН от имени Российской Федерации осуществляет Министерство
        науки и высшего образования Российской Федерации.
      </p>

      <p class="text">
        <b>Наименование учредителя</b> - Министерство науки и высшего образования Российской Федерации
      </p>
      <p class="text">
        <b>ФИО руководителя (учредителя) образовательной организации</b>
        - Фальков Валерий Николаевич
      </p>
      <p class="text">
        <b>Юридический адрес учредителя</b> - 125993, г. Москва, ул. Тверская, д. 11
      </p>
      <p class="text">
        <b>Контактные телефоны</b> - +7(495) 547-13-16; +7(495) 547-12-94
      </p>
      <p class="text">
        <b>Адрес электронной почты</b> - info@minobrnauki.gov.ru
      </p>
      <p class="text">
        <b>Адрес сайта учредителя в сети «Интернет»</b> - minobrnauki.gov.ru
      </p>
      <p class="text">
        <b>Режим и график работы</b> - понедельник — пятница: 9:00 – 18:00
      </p>
      <p class="text">
        <b>Телефон для справок</b> - 8 (383) 373-06-58
      </p>
    </div>

    <h2 class="title" id="structure-organization">
      Структура и органы организации
      осуществляющей образовательную деятельность
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="#">
            Структура образовательной организации, в том числе
            и наименование структурных подразделений
          </a>
        </li>
        <li>
          <a href="#">
            Органы управления ГПНТБ СО РАН, в том числе их наименование
          </a>
        </li>
        <li>
          <a href="#">
            Руководители структурных подразделений ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="#">
            Места нахождения структурных подразделений ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="#">
            Положение об отделе непрерывного профессионального образования ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="#">
            Адреса официальных сайтов в информационно-телекоммуникационной сети «Интернет»
          </a>
        </li>
        <li>
          <a href="#">
            Web-Сайт ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="#">
            Группы ГПНТБ СО РАН в соц. сетях: ВКонтакте, Facebook, Twitter
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="docs">
      Документы
    </h2>
    <div class="paper">
      <h3 class="subtitle">
        Образование
      </h3>
      <div class="buttons-container">
        <button class="button color_red">Общие документы</button>
        <button class="button">Документы «‎ДПО»‎</button>
      </div>
      <ul class="list">
        <li>
          <a href="#">
            Устав ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="#">
            Лицензия на осуществление образовательной деятельности
            (с приложением по ДПО, с приложением по аспирантуре)
          </a>
        </li>
        <li>
          <a href="#">
            Свидетельство о государственной аккредитации (с приложениями)
          </a>
        </li>
        <li>
          <a href="#">
            Правила внутреннего трудового распорядка
          </a>
        </li>
        <li>
          <a href="#">
            Правила внутреннего распорядка обучающихся
          </a>
        </li>
        <li>
          <a href="#">
            Коллективный договор
          </a>
        </li>
        <li>
          <a href="#">
            Образовательные стандарты
          </a>
        </li>
        <li>
          <a href="#">
            Положение о порядке проведения самообследования
            образовательной деятельности
          </a>
        </li>
        <li>
          <a href="#">
            Отчет о результатах самообследования
          </a>
        </li>
        <li>
          <a href="#">
            Предписания органов, осуществляющих государственный
            контроль (надзор) в сфере образования
          </a>
        </li>
        <li>
          <a href="#">
            Локальные нормативные акты по вопросам организации и
            осуществения образовательной деятельности
          </a>
        </li>
        <li>
          <a href="#">
            Отчёты об исполнении предписаний органов, осуществляющих
            государственный контроль (надзор) в сфере образования
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="management">
      Руководство.<br />
      Научно-педагогический состав
    </h2>
    <div class="paper">
      <p class="text">
        Педагогический состав — научно-педагогические кадры и
        ведущие специалисты ГПНТБ СО РАН и других библиотек,
        научных учреждений и образовательных организаций.
      </p>
      <ul class="list">
        <li>
          <a href="#">
            Руководство ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="#">
            Кадровое обеспечение образовательного процесса по
            подготовке научно-педагогических кадров в аспирантуре
          </a>
        </li>
        <li>
          <a href="#">
            Кадровое обеспечение образовательного процесса по
            программам дополнительного профессионального образования
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="process">
      Материально-техническое обеспечение
      и оснащенность образовательного процесса
    </h2>
    <div class="paper">
      <p class="text">
        Аудитории ГПНТБ СО РАН комфортны для обучения, оснащены
        проекторами для демонстрации учебных материалов. Компьютерный
        класс оснащён подключёнными к сети Internet компьютерами и
        имеет всё необходимое оборудование для обучения специалистов.
        Обучающиеся имеют доступ к бесплатному Wi-Fi.
      </p>
    <div class="right-button">
      <button class="button color_red">Подробнее</button>
    </div>
    </div>

    <h2 class="title" id="support">
      Стипендии и иные виды
      материальной поддержки
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="#">
            Приказ Минобрнауки России от 27.12.2016 № 1663
            «Об утверждении Порядка назначения государственной
            академической стипендии и (или) государственной
            социальной стипендии студентам, обучающимся по очной
            форме обучения за счет бюджетных ассигнований федерального
            бюджета, государственной стипендии аспирантам, ординаторам,
            ассистентам-стажерам, обучающимся по очной форме обучения
            за счет бюджетных ассигнований федерального бюджета,
            выплаты стипендий слушателям подготовительных отделений
            федеральных государственных образовательных организаций
            высшего образования, обучающимся за счет бюджетных
            ассигнований федерального бюджета» (Зарегистрировано
            в Минюсте России 24.01.2017 № 45376)
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="activity">
      Финансово-хозяйственная деятельность
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="#">
            План финансово-хозяйственной деятльности ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="#">
            Информация об объеме образовательной деятельности
            по программе подготовки научно-педагогических кадров
            в аспирантуре за счет бюджетных ассигнований
            федерального бюджета 
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="paid-services">
      Платные образовательные услуги
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="#">
            Стоимость обучения по каждой образовательной программе
            определяется прейскурантом ГПНТБ СО РАН (см. пункт 4)
          </a>
        </li>
        <li>
          <a href="#">
            Порядок оказания платных образовательных услуг,
            в том числе и образец договора об оказании платных
            образовательных услуг в аспирантуре
          </a>
        </li>
        <li>
          <a href="#">
            Порядок оказания платных образовательных услуг, в том
            числе и образец договора об оказании платных образовательных
            услуг по программам дополнительного профессионального образования
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>