<section class="information container">
  <div class="links-container">
    <ul>
      <li class="active">
        <a href="#main-info">
          Основные сведения
        </a>
      </li>
      <li>
        <a href="#structure-organization">
          Структура и органы управления
          образовательной организацией
        </a>
      </li>
      <li>
        <a href="#docs">
          Документы
        </a>
      </li>
      <li>
        <a href="#management">
          Руководство. Педагогический
          (научно-педагогический) состав
        </a>
      </li>
      <li>
        <a href="#process">
          Материально-техническое обеспечение и
          оснащенность образовательного процесса
        </a>
      </li>
      <li>
        <a href="#support">
          Стипендии и иные виды материальной поддержки
        </a>
      </li>
      <li>
        <a href="#activity">
          Финансово-хозяйственная
          деятельность
        </a>
      </li>
      <li>
        <a href="#paid-services">
          Платные образовательные услуги
        </a>
      </li>
      <li>
        <a href="#add-links">
          Дополнительные ссылки
        </a>
      </li>
    </ul>
  </div>
  <div class="info-container">
    <h2 class="title" id="main-info">
      Основные сведения
    </h2>
    <div class="paper">
      <p class="text">
        Государственная публичная научно-техническая библиотека
        (ГПНТБ СО РАН) осуществляет профессиональную подготовку
        специалистов библиотечно-информационной сферы
        с 1 апреля 1964 г. (<a href="http://www.spsl.nsc.ru/o-biblioteke/biblioteka-segodnya/history_library/"  target="_blank">краткая историческая справка</a>).
      </p>
      <p class="text">
        Отдел непрерывного профессионального образования ГПНТБ СО РАН,
        созданный 1 марта 2019 г., осуществляет образовательную
        деятельность по программам подготовки научно-педагогических
        кадров в аспирантуре и по дополнительным профессиональным
        программам (повышение квалификации, профессиональная
        переподготовка).
      </p>

      <h3 class="subtitle">
        Информация об учредителе
      </h3>

      <p class="text">
        ГПНТБ СО РАН является унитарной некоммерческой организацией,
        созданной в форме федерального государственного бюджетного
        учреждения. Учредителем и собственником ГПНТБ СО РАН является
        Российская Федерация. Функции и полномочия учредителя ГПНТБ
        СО РАН от имени Российской Федерации осуществляет Министерство
        науки и высшего образования Российской Федерации.
      </p>

      <p class="text">
        <b>Наименование учредителя</b> - Министерство науки и высшего образования Российской Федерации
      </p>
      <p class="text">
        <b>ФИО руководителя (учредителя) образовательной организации</b>
        - Фальков Валерий Николаевич
      </p>
      <p class="text">
        <b>Юридический адрес учредителя</b> - 125993, г. Москва, ул. Тверская, д. 11
      </p>
      <p class="text">
        <b>Контактные телефоны</b> - +7(495) 547-13-16; +7(495) 547-12-94
      </p>
      <p class="text">
        <b>Адрес электронной почты</b> - info@minobrnauki.gov.ru
      </p>
      <p class="text">
        <b>Адрес сайта учредителя в сети «Интернет»</b> - minobrnauki.gov.ru
      </p>
      <p class="text">
        <b>Режим и график работы</b> - понедельник — пятница: 9:00 – 18:00
      </p>
      <p class="text">
        <b>Телефон для справок</b> - 8 (383) 373-06-58
      </p>
    </div>

    <h2 class="title" id="structure-organization">
      Структура и органы организации
      осуществляющей образовательную деятельность
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="http://www.spsl.nsc.ru/o-biblioteke/osnovnye-strukturnye-podrazdeleniya/"  target="_blank">
            Структура образовательной организации, в том числе
            и наименование структурных подразделений
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/o-biblioteke/osnovnye-strukturnye-podrazdeleniya/"  target="_blank">
            Органы управления ГПНТБ СО РАН, в том числе их наименование
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/o-biblioteke/osnovnye-strukturnye-podrazdeleniya/"  target="_blank">
            Руководители структурных подразделений ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/o-biblioteke/osnovnye-strukturnye-podrazdeleniya/"  target="_blank">
            Места нахождения структурных подразделений ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="/files/documents/Положение об отделе непрерывного профессионального образования ГПНТБ СО РАН.pdf"  target="_blank">
            Положение об отделе непрерывного профессионального образования ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <span>
            Адреса официальных сайтов в информационно-телекоммуникационной сети «Интернет»
          </span>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/" target="_blank">
            Web-Сайт ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <span>
            Группы ГПНТБ СО РАН в соц. сетях: <a href="https://vk.com/public32109264" target="_blank">ВКонтакте</a>, <a href="https://www.facebook.com/gpntbsorannsk/" target="_blank">Facebook</a>, <a href="https://twitter.com/GPNTB_SORAN" target="_blank">Twitter</a>
          </span>
        </li>
      </ul>
    </div>

    <h2 class="title" id="docs">
      Документы
    </h2>
    <div class="paper">
      <h3 class="subtitle">
        Образование
      </h3>
      <div class="buttons-container buttons_toggle_list">
        <button class="button color_red" data-key="all">Общие документы</button>
        <button class="button" data-key="training">Документы «‎ДПО»‎</button>
        <button class="button" data-key="graduate">Документы «‎Аспирантура»‎</button>
      </div>
      <ul class="list document_list active" data-key="all">
        <li>
          <a href="http://www.spsl.nsc.ru/download/archive/Ustav-2018-min.pdf" target="_blank">
            Устав ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/download/dissovet/alisen2nj_.jpg" target="_blank">
            Лицензия на осуществление образовательной деятельности
          </a>
          ( 
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/pril_licens_obr.pdf" target="_blank">c приложением по ДПО</a>, 
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/priloj_aspir.pdf" target="_blank">c приложением по аспирантуре</a>
          )
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/download/aspirantura/Svidetelstvo-o-gos.-registr.pdf" target="_blank">
            Свидетельство о государственной аккредитации</a> (<a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/priloj_svidet_okred.pdf" target="_blank">с приложениями</a>)
          
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/o-biblioteke/profsoyuz/" target="_blank">
            Правила внутреннего трудового распорядка
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            Правила внутреннего распорядка обучающихся (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/o-biblioteke/profsoyuz/" target="_blank">
            Коллективный договор
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/education/norm-prav-dok-obraz-aspir-dpo/obr-standart/" target="_blank">
            Образовательные стандарты
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/poloj_poryad_samoobr_3.pdf" target="_blank">
            Положение о порядке проведения самообследования
            образовательной деятельности
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/otchet-self-obsled/" target="_blank">
            Отчет о результатах самообследования
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/obsh-dos/predpis-gos-kontrol/" target="_blank">
            Предписания органов, осуществляющих государственный
            контроль (надзор) в сфере образования
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            Локальные нормативные акты по вопросам организации и
            осуществения образовательной деятельности (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/obsh-dos/otchet-isp-predpis-gos-kontrol/" target="_blank">
            Отчёты об исполнении предписаний органов, осуществляющих
            государственный контроль (надзор) в сфере образования
          </a>
        </li>
      </ul>
      <ul class="list document_list" data-key="training">
        <li>
          <a href="http://www.spsl.nsc.ru/download/aspirantura/Svidetelstvo-o-gos.-registr.pdf" target="_blank">
            Свидетельство о государственной аккредитации</a> (<a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/priloj_svidet_okred.pdf" target="_blank">с приложениями</a>)
          
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/download/aspirantura/prav-trud-raspor.pdf" target="_blank">
            Правила внутреннего трудового распорядка
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            Правила внутреннего распорядка обучающихся (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/kol_dogov_2018_2021.doc" target="_blank">
            Коллективный договор
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/education/norm-prav-dok-obraz-aspir-dpo/obr-standart/" target="_blank">
            Образовательные стандарты
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/poloj_poryad_samoobr_3.pdf" target="_blank">
            Положение о порядке проведения самообследования
            образовательной деятельности
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/otchet-self-obsled/" target="_blank">
            Отчет о результатах самообследования
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/obsh-dos/predpis-gos-kontrol/" target="_blank">
            Предписания органов, осуществляющих государственный
            контроль (надзор) в сфере образования
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            Локальные нормативные акты по вопросам организации и
            осуществения образовательной деятельности (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/obsh-dos/otchet-isp-predpis-gos-kontrol/" target="_blank">
            Отчёты об исполнении предписаний органов, осуществляющих
            государственный контроль (надзор) в сфере образования
          </a>
        </li>
      </ul>
      <ul class="list document_list" data-key="graduate">
        <li>
          <a href="/files/documents/Правила внутреннего распорядка обучабщихся.pdf" target="_blank">
            Правила внутреннего распорядка обучающихся
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/kol_dogov_2018_2021.doc" target="_blank">
            Коллективный договор
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/education/norm-prav-dok-obraz-aspir-dpo/obr-standart/" target="_blank">
            Образовательные стандарты
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/poloj_poryad_samoobr_3.pdf" target="_blank">
            Положение о порядке проведения самообследования
            образовательной деятельности
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/otchet-self-obsled/" target="_blank">
            Отчет о результатах самообследования
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/obsh-dos/predpis-gos-kontrol/" target="_blank">
            Предписания органов, осуществляющих государственный
            контроль (надзор) в сфере образования
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            Локальные нормативные акты по вопросам организации и
            осуществения образовательной деятельности (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/documents/obsh-dos/otchet-isp-predpis-gos-kontrol/" target="_blank">
            Отчёты об исполнении предписаний органов, осуществляющих
            государственный контроль (надзор) в сфере образования
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="management">
      Руководство.<br />
      Научно-педагогический состав
    </h2>
    <div class="paper">
      <p class="text">
        Педагогический состав — научно-педагогические кадры и
        ведущие специалисты ГПНТБ СО РАН и других библиотек,
        научных учреждений и образовательных организаций.
      </p>
      <ul class="list">
        <li>
          <a href="http://www.spsl.nsc.ru/o-biblioteke/osnovnye-strukturnye-podrazdeleniya/" target="_blank">
            Руководство ГПНТБ СО РАН
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/asp_1.pdf" target="_blank">
            Кадровое обеспечение образовательного процесса по
            подготовке научно-педагогических кадров в аспирантуре
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            Кадровое обеспечение образовательного процесса по
            программам дополнительного профессионального образования (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="process">
      Материально-техническое обеспечение
      и оснащенность образовательного процесса
    </h2>
    <div class="paper">
      <p class="text">
        Аудитории ГПНТБ СО РАН комфортны для обучения, оснащены
        проекторами для демонстрации учебных материалов. Компьютерный
        класс оснащён подключёнными к сети Internet компьютерами и
        имеет всё необходимое оборудование для обучения специалистов.
        Обучающиеся имеют доступ к бесплатному Wi-Fi.
      </p>
    <div class="right-button">
      <a href="http://www.spsl.nsc.ru/sveden/objects/" target="_blank" class="button color_red linck_button">Подробнее</a>
    </div>
    </div>

    <h2 class="title" id="support">
      Стипендии и иные виды
      материальной поддержки
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="http://www.spsl.nsc.ru/wp-content/uploads/filebase/centreno/prikaz_min_obr_27.12.2016_N_1663.pdf" target="_blank">
            Приказ Минобрнауки России от 27.12.2016 № 1663
            «Об утверждении Порядка назначения государственной
            академической стипендии и (или) государственной
            социальной стипендии студентам, обучающимся по очной
            форме обучения за счет бюджетных ассигнований федерального
            бюджета, государственной стипендии аспирантам, ординаторам,
            ассистентам-стажерам, обучающимся по очной форме обучения
            за счет бюджетных ассигнований федерального бюджета,
            выплаты стипендий слушателям подготовительных отделений
            федеральных государственных образовательных организаций
            высшего образования, обучающимся за счет бюджетных
            ассигнований федерального бюджета» (Зарегистрировано
            в Минюсте России 24.01.2017 № 45376)
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="activity">
      Финансово-хозяйственная деятельность
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="#" target="_blank">
            План финансово-хозяйственной деятльности ГПНТБ СО РАН (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            Информация об объеме образовательной деятельности
            по программе подготовки научно-педагогических кадров
            в аспирантуре за счет бюджетных ассигнований
            федерального бюджета (НЕ НАШЁЛ ССЫЛКУ)
          </a>
        </li>
      </ul>
    </div>

    <h2 class="title" id="paid-services">
      Платные образовательные услуги
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="http://www.spsl.nsc.ru/resursy-i-uslugi/uslugi-biblioteki/prejskurant-uslug-gpntb-so-ran/" target="_blank">
            Стоимость обучения по каждой образовательной программе
            определяется прейскурантом ГПНТБ СО РАН (см. пункт 4)
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/plat-obr-usl/dop-plat-uslug-asper/" target="_blank">
            Порядок оказания платных образовательных услуг,
            в том числе и образец договора об оказании платных
            образовательных услуг в аспирантуре
          </a>
        </li>
        <li>
          <a href="http://www.spsl.nsc.ru/professionalam/ntcn/plat-obr-usl/dop_plat_uslug_order/" target="_blank">
            Порядок оказания платных образовательных услуг, в том
            числе и образец договора об оказании платных образовательных
            услуг по программам дополнительного профессионального образования
          </a>
        </li>
      </ul>
    </div>
    <h2 class="title" id="add-links">
      Дополнительные ссылки
    </h2>
    <div class="paper">
      <ul class="list">
        <li>
          <a href="" target="_blank">
            Образовательная платформа «Непрерывное проф. образование в ГПНТБ СО РАН»
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            Вакантные места для приема (перевода) обучающихся
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            Доступная среда
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            Международное сотрудничество
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>