{{> components/head }}
<body>
  <header class="empty-header">
    <div class="container">
      <a href="/">
        <img class="logo" src="/image/logo.svg" alt="" />
      </a>
    </div>
  </header>
  {{{ body }}}
</body>
</html>