{{> components/head }}
<body class="padding flex">
  <div></div>
  <header class="component_header">
    <div class="container">
      <a href="/">
        <img class="logo" src="/image/logo.svg" alt="" />
      </a>
      <div class="wrpa_header_links">
        {{#if menu}}
          <nav class="menu container_btn_scroll_to_section">
            <a href="#direction" class="btn_scroll_to_section">Образование</a>
            <a href="#teachers" class="btn_scroll_to_section">Преподаватели</a>
            <a href="#about" class="btn_scroll_to_section">Об организации</a>
          </nav>
        {{/if}}

        {{#if headerTitle}}
          <h2 class="header-title">{{headerTitle}}</h2>
        {{/if}}


      {{!-- <div class="search">
        <img class="icon" src="/image/icons/search.svg" alt="" />
        <input type="text" class="input"/>
      </div>
      

      <a href="/sign-in" class="link_button">
        <button class="button button__enterens">
          Войти
        </button>
      </a> --}}


        <div class="icons">
          {{!-- <button class="button-icon laptop-hide">
            <img src="/image/icons/search.svg" alt="Search" />
          </button>
          <button class="button-icon laptop-hide">
            <img src="/image/icons/logout.svg" alt="Logaut" />
          </button> --}}
          <button class="button-icon" id="show_menu">
            <img src="/image/icons/menu.svg" alt="Menu" />
          </button>
        </div>
      </div>
    </div>
    <div class="drop_menu_mobile" id="drop_menu_mobile">
      <div class="container">
        <div class="top">
          <div class="logo">
            <img src="/image/white_logo.svg" alt="Logo" />
          </div>
          <div class="exit">
            <button id="hide_menu"></button>
          </div>
        </div>
        <ul class="linc_list">
          <a href="/" class="linc big">Главная</a>
          <a href="/catalog" class="linc big">КАТАЛОГ ПРОГРАММ</a>
          <a href="/#direction" class="linc big">ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</a>
          <a href="/graduate" class="linc">Аспирантура</a>
          <a href="/training" class="linc">Повышение квалификации</a>
          <a href="/retraining" class="linc">Профессиональная переподготовка</a>
          <a href="/teachers" class="linc big">ПРЕПОДАВАТЕЛИ</a>
          <a href="/reviews" class="linc big">ОТЗЫВЫ</a>
          <a href="/structure" class="linc big">СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ</a>
        </ul>
      </div>
    </div>
  </header>
  {{{ body }}}
  {{>components/footer}}
</body>
</html>