<div id="course">
  <div class="container">
    <h1 class="title">{{type}}</h1>
    {{>sections/course/description}}
    {{>sections/course/approach}}
    {{>sections/course/learning-map}}
    {{>sections/course/document}}
    {{>sections/course/teachers}}
    {{>sections/course/reviews}}
  </div>
  <div class="form-container">
    {{>components/form}}
  </div>
</div>