<div id="courses">
  <div class="container">
    <h1 class="title">{{title}}</h1>
    {{!-- <p class="description-page">
      {{description}}
    </p> --}}
  </div>
  {{>sections/courses/special-offer}}
  {{>sections/courses/list}}
  {{>sections/courses/teachers}}
  {{>sections/courses/reviews}}
  {{!-- {{>sections/courses/map}} --}}
  {{>sections/courses/form}}
</div>
