<div class="container">
  <div style="display: flex; justify-content: space-between; margin-top: 30px">
    <div style="width: 30%; margin-top: 30px">
      <article class="card_cubs">
        <div class="cub red"></div>
        <div class="content">
          <h1 class="title">Пробная образовательная программа</h1>
          <p class="text">
            Создание приверженного покупателя, анализируя результаты рекламной кампании, переворачивает жизненный цикл продукции.
          </p>
          <div class="bottom-container">
            <span class="price">Бесплатно</span>
            <button class="card_button">
              <img src="/image/icons/arrow-left.svg" alt="" />
            </button>
          </div>
        </div>
      </article>
    </div>

    <div style="width: 30%; margin-top: 30px">
      <article class="card_cubs">
        <div class="cub blue"></div>
        <div class="content">
          <h1 class="title">Пробная образовательная программа</h1>
          <p class="text">
            Создание приверженного покупателя, анализируя результаты рекламной кампании, переворачивает жизненный цикл продукции.
          </p>
          <div class="bottom-container">
            <span class="price">Бесплатно</span>
            <button class="card_button">
              <img src="/image/icons/arrow-left.svg" alt="" />
            </button>
          </div>
        </div>
      </article>
    </div>

    <div style="width: 30%; margin-top: 30px">
      <article class="card_cubs">
        <div class="cub black"></div>
        <div class="content">
          <h1 class="title">Пробная образовательная программа</h1>
          <p class="text">
            Создание приверженного покупателя, анализируя результаты рекламной кампании, переворачивает жизненный цикл продукции.
          </p>
          <div class="bottom-container">
            <span class="price">Бесплатно</span>
            <button class="card_button">
              <img src="/image/icons/arrow-left.svg" alt="" />
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>  

  <div style="display: flex; justify-content: space-between; margin-top: 30px">
    <div style="width: 30%">
      <article class="card_for">
        <div class="top-content">
          <img src="/image/student.png" alt="" />
          <h1>Для студентов</h1>
        </div>
        <p class="text">
          Создание приверженного покупателя, анализируя результаты
          рекламной кампании, переворачивает жизненный цикл продукции.
        </p>
      </article>
    </div>
    <div style="width: 30%">
      <article class="card_for">
        <div class="top-content">
          <img src="/image/librarian.png" alt="" />
          <h1>Для библиотекарей</h1>
        </div>
        <p class="text">
          Создание приверженного покупателя, анализируя результаты
          рекламной кампании, переворачивает жизненный цикл продукции.
        </p>
      </article>
    </div>
    <div style="width: 30%">
      <article class="card_for">
        <div class="top-content">
          <img src="/image/researcher.png" alt="" />
          <h1>Для научных сотрудников</h1>
        </div>
        <p class="text">
          Создание приверженного покупателя, анализируя результаты
          рекламной кампании, переворачивает жизненный цикл продукции.
        </p>
      </article>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: 30px">
    <div style="width: 23%; margin-top: 30px;">
      <article class="card_advantages">
        <img src="/image/icons/add_user.svg" alt="" />
        <h1>Преимущество</h1>
        <p>
          Медиабизнес, как принято считать,
          раскручивает культурный опрос.
        </p>
      </article>
    </div>
    <div style="width: 23%; margin-top: 30px;">
      <article class="card_advantages">
        <img src="/image/icons/chat.svg" alt="" />
        <h1>Преимущество</h1>
        <p>
          Медиабизнес, как принято считать,
          раскручивает культурный опрос.
        </p>
      </article>
    </div>
    <div style="width: 23%; margin-top: 30px;">
      <article class="card_advantages">
        <img src="/image/icons/edit.svg" alt="" />
        <h1>Преимущество</h1>
        <p>
          Медиабизнес, как принято считать,
          раскручивает культурный опрос.
        </p>
      </article>
    </div>
    <div style="width: 23%; margin-top: 30px;">
      <article class="card_advantages">
        <img src="/image/icons/play.svg" alt="" />
        <h1>Преимущество</h1>
        <p>
          Медиабизнес, как принято считать,
          раскручивает культурный опрос.
        </p>
      </article>
    </div>
  </div>
</div>