<div id="teacher">
  <div class="container">
    <h1 class="title">{{error.code}}</h1>
    <span class="text">{{error.text}}</span>
    <p class="decription">{{error.description }}</p>
  </div>
</div>