<div id="error">
  <div class="container">
    <div class="title_container">
      <h1 class="home_title title">{{error.code}}</h1>
      <h2 class="home_subtitle text">{{error.text}}</h2>
    </div>
    <p class="decription">{{toHTML error.description}}</p>
    <div class="button_container">
      <button onclick="history.back();" id="button_back" class="button size_norm">Назад</button>
      <a href="/" class="button size_norm">Главная</a>
    </div>
  </div>
</div>