<div id="page_graduate">
  <div class="container">
    <h1 class="title">АСПИРАНТУРА <br />ГПНТБ СО РАН</h1>
    <p class="description-page">
      Создание приверженного покупателя, анализируя результаты
      рекламной кампании, переворачивает жизненный цикл продукции.
    </p>
  </div>
  {{>sections/graduate/special-offer}}
  <div class="section_container">
    {{>sections/graduate/nav-menu}}
    {{>sections/graduate/section-1}}
    {{>sections/graduate/section-2}}
    {{>sections/graduate/section-3}}
    {{>sections/graduate/section-4}}
  </div>
  {{>sections/graduate/graduate}}
</div>