<div id="page_graduate">
  <div class="container">
    <h1 class="title">АСПИРАНТУРА <br />ГПНТБ СО РАН</h1>
  </div>
  {{!-- {{>sections/graduate/special-offer}} --}}
  <div class="section_container">
    {{>sections/graduate/information graduate}}
  </div>
  {{>sections/graduate/graduate}}
</div>