<div id="page_retraining">
  <div class="container">
    <h1 class="title">ПРОГРАММЫ ПРОФЕССИОНАЛЬНОЙ<br /> ПЕРЕПОДГОТОВКИ</h1>
    <p class="description-page">
      Создание приверженного покупателя,
      анализируя результаты рекламной кампании,
      переворачивает жизненный цикл продукции.
    </p>
  </div>
  {{>sections/retraining/special-offer}}
  {{>sections/retraining/list}}
  {{>sections/training/teachers}}
  {{>sections/training/reviews}}
  {{>sections/training/map}}
  {{>sections/training/form}}
</div>