<main id="sign-in">
  <div class="container">
    <h1 class="title">Вход в личный кабинет</h1>
  </div>

  <div class="column">
    <form class="form">
      <input type="text" name="email" placeholder="E-Mail">
      <span>Или</span>
      <input type="text" name="library-card" placeholder="Номер читательского билета">
      <input type="password" name="password" placeholder="Пароль">
      <a href="#" class="remember">Забыли пароль?</a>
      <button type="button" class="button color_red size_norm">Войти</button>

      <div class="checkbox-container">
        <input type="checkbox" name="remember" class="checkbox" id="checkbox">
        <label for="checkbox">Запомнить меня</label>
      </div>
    </form>

    <button type="button" class="button size_norm register">Регистрация</button>
  </div>
</main>