<div class="test">
  <div class="container">

    <span class="size_text_m"></span>
    <div>
      {{#each this.organizators}}
        {{>cards/card_organizer this}}
      {{/each}}
    </div>
    {{>components/accordion accordion}}
  </div>
  
  {{>components/carusel carusel}}
  <div class="container">

    {{!-- <button id="addimg">adsf</button>
    <div class="addimg"></div> --}}
    {{> sections/section_home_education this}}
    <div>
      {{#each this.reviews}}
        {{>cards/card_review this}}
      {{/each}}
    </div>

    <div>
      {{#each this.teacher}}
        {{>cards/card_teacher this}}
      {{/each}}
    </div>

  </div>
</div>