<div id="page_training">
  <div class="container">
    <h1 class="title">ПРОГРАММЫ ПОВЫШЕНИЯ<br />КВАЛИФИКАЦИИ</h1>
    <p class="description-page">
      Создание приверженного покупателя,
      анализируя результаты рекламной кампании,
      переворачивает жизненный цикл продукции.
    </p>
  </div>
  {{>sections/training/special-offer}}
  {{>sections/training/list}}
  {{>sections/training/teachers}}
  {{>sections/training/reviews}}
  {{>sections/training/map}}
  {{>sections/training/form}}
</div>
