/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?url=false!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./styles/main.scss ***!
  \*************************************************************************************************************************************************/
@font-face {
  font-family: "Gotham";
  src: url(/font/GothamPro.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url(/font/Inter-SemiBold.woff2);
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Gotham;
  font-weight: normal;
  background-color: #F9F3F3;
}

.button {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  font-weight: bold;
  height: 60px;
  width: 120px;
  color: #252A34;
  border: 1px solid #FF165D;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  background-color: #FFFFFF;
}
.button:hover {
  background-color: #FF165D;
  color: #FFFFFF;
}
.button.hover_white:hover {
  background-color: #FFFFFF;
  color: #252A34;
}
.button.hover_transparent:hover {
  border: 1px solid #FF165D;
  background-color: #FF165D;
  color: #FFFFFF;
}
.button.color_transparent {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.button.size_md {
  width: 240px;
}
.button.size_lg {
  width: 330px;
}

article.card_dirction {
  display: inline-flex;
  border-radius: 30px;
  background-image: url("/image/123.png");
  cursor: pointer;
}
article.card_dirction .title {
  color: #FFFFFF;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.6;
}
article.card_dirction .bgc_wrap {
  display: flex;
  border-radius: 30px;
  padding: 19px;
  min-width: 343px;
  min-height: 355px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #252A34;
}
article.card_dirction .bgc_wrap:hover {
  background-color: rgba(255, 22, 93, 0.8);
}
article.card_dirction .fix_center {
  height: 60px;
}

article.card {
  background-color: #FFFFFF;
  border-radius: 30px;
  overflow: hidden;
}
article.card .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 300px;
  background-size: cover;
}
article.card .header > .type {
  padding: 10px;
  font-size: 16px;
  background-color: #3EC1D3;
  color: #FFFFFF;
  border-radius: 20px;
}
article.card .header > .discount {
  margin-top: 22px;
  padding: 10px;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 20px;
}
article.card .description {
  padding: 20px;
}
article.card .description > .title {
  font-size: 16px;
  line-height: 25px;
}
article.card .description > .review {
  display: flex;
  margin-top: 20px;
}
article.card .description > .review .stars {
  display: flex;
}
article.card .description > .review .stars > div {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #FF165D;
}
article.card .description > .review > .quantity a {
  color: #252A34;
}
article.card .description .info {
  margin-top: 25px;
  padding: 25px 0;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}
article.card .description .info > .item {
  display: flex;
  align-items: center;
  margin-top: 23px;
}
article.card .description .info > .item:first-child {
  margin-top: 0;
}
article.card .description .info > .item > .icon {
  width: 33px;
  height: 33px;
  background-color: #FF165D;
}
article.card .description .info > .item > .text {
  margin-left: 25px;
}
article.card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}
article.card .footer > .price {
  font-weight: bold;
  font-size: 38px;
}

.component_header {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .component_header {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .component_header {
    padding: 20px 60px;
  }
}
.component_header .logo {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .component_header .logo {
    height: 60px;
    width: 60px;
  }
}
.component_header .menu {
  display: none;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .component_header .menu {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .component_header .menu {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .component_header .menu {
    margin-left: 80px;
  }
}
.component_header .menu a {
  margin-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #252A34;
}
.component_header .menu a:first-child {
  margin-left: 0;
}
@media screen and (min-width: 1280px) {
  .component_header .menu a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .component_header .menu a {
    margin-left: 40px;
  }
}
.component_header .icons {
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .component_header .icons {
    margin-left: 80px;
  }
}
.component_header .icons .button-icon {
  margin: 0 12px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .component_header .icons .button-icon.laptop-hide {
    display: none;
  }
}
.component_header .icons .button-icon img {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .component_header .icons .button-icon img {
    height: 23px;
    width: 23px;
  }
}
.component_header .search {
  display: none;
  margin-left: auto;
  width: 210px;
  color: #BDBDBD;
  border-bottom: 1px solid;
}
@media screen and (min-width: 1280px) {
  .component_header .search {
    display: flex;
  }
}
.component_header .search .icon {
  width: 15px;
  height: 15px;
}
.component_header .search .input {
  flex-grow: 1;
  padding: 0 0 5px 10px;
  font-size: 16px;
  border: none;
  outline: none;
}
.component_header .button {
  display: none;
  margin-left: 80px;
}
@media screen and (min-width: 1280px) {
  .component_header .button {
    display: block;
  }
}
