/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?url=false!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./styles/main.scss ***!
  \*************************************************************************************************************************************************/
@font-face {
  font-family: "Gotham";
  src: url(/font/GothamPro.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url(/font/Inter-SemiBold.woff2);
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Gotham;
  font-weight: normal;
  background-color: #F9F3F3;
}

ul, li {
  list-style: none;
}

.button {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  border-radius: 30px;
  font-weight: bold;
  height: 60px;
  width: 120px;
  color: #252A34;
  border: 1px solid #FF165D;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  background-color: #FFFFFF;
}
.button:hover {
  background-color: #FF165D;
  color: #FFFFFF;
}
.button.hover_white:hover {
  background-color: #FFFFFF;
  color: #252A34;
}
.button.hover_transparent:hover {
  border: 1px solid #FF165D;
  background-color: #FF165D;
  color: #FFFFFF;
}
.button.color_transparent {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.button.size_md {
  width: 240px;
}
.button.size_mds {
  width: 162px;
}
.button.size_lg {
  width: 330px;
}

.component_header {
  padding: 20px 16px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .component_header {
    padding: 20px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .component_header {
    padding: 20px 0;
  }
}
.component_header .container {
  display: flex;
  align-items: center;
}
.component_header .logo {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .component_header .logo {
    height: 60px;
    width: 60px;
  }
}
.component_header .menu {
  display: none;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .component_header .menu {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .component_header .menu {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1920px) {
  .component_header .menu {
    margin-left: 80px;
  }
}
.component_header .menu a {
  margin-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #252A34;
}
.component_header .menu a:first-child {
  margin-left: 0;
}
@media screen and (min-width: 1280px) {
  .component_header .menu a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .component_header .menu a {
    margin-left: 40px;
  }
}
.component_header .icons {
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .component_header .icons {
    margin-left: 80px;
  }
}
.component_header .icons .button-icon {
  margin: 0 12px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .component_header .icons .button-icon.laptop-hide {
    display: none;
  }
}
.component_header .icons .button-icon img {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .component_header .icons .button-icon img {
    height: 23px;
    width: 23px;
  }
}
.component_header .search {
  display: none;
  margin-left: auto;
  width: 210px;
  color: #BDBDBD;
  border-bottom: 1px solid;
}
@media screen and (min-width: 1280px) {
  .component_header .search {
    display: flex;
  }
}
.component_header .search .icon {
  width: 15px;
  height: 15px;
}
.component_header .search .input {
  flex-grow: 1;
  padding: 0 0 5px 10px;
  font-size: 16px;
  border: none;
  outline: none;
}
.component_header .button {
  display: none;
  margin-left: 80px;
}
@media screen and (min-width: 1280px) {
  .component_header .button {
    display: block;
  }
}

.container {
  margin: 0 auto;
  width: 96%;
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    width: 1440px;
  }
}

article.card_dirction {
  display: inline-flex;
  border-radius: 15px;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  width: 343px;
  flex-grow: 1;
}
article.card_dirction .title {
  color: #FFFFFF;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
}
article.card_dirction .bgc_wrap {
  display: flex;
  border-radius: 15px;
  padding: 19px;
  width: 100%;
  min-height: 355px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  background-color: #252A34;
}
article.card_dirction .bgc_wrap:hover {
  background-color: rgba(255, 22, 93, 0.8);
}
article.card_dirction .fix_center {
  height: 60px;
}

.card_for {
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
}
@media screen and (min-width: 768px) {
  .card_for {
    padding: 20px;
    border-radius: 30px;
  }
}
.card_for .top-content {
  display: flex;
  align-items: center;
}
.card_for .top-content img {
  width: 60px;
}
@media screen and (min-width: 1280px) {
  .card_for .top-content img {
    width: 100px;
  }
}
.card_for .top-content h1 {
  margin-left: 10px;
  font-size: 16px;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .card_for .top-content h1 {
    margin-left: 20px;
    font-size: 22px;
  }
}
@media screen and (min-width: 1920px) {
  .card_for .top-content h1 {
    font-size: 28px;
  }
}
.card_for .text {
  margin-top: 14px;
  font-size: 12px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .card_for .text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .card_for .text {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .card_for .text {
    font-size: 16px;
    line-height: 26px;
  }
}

article.card {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  overflow: hidden;
}
article.card .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 300px;
  background-size: cover;
}
article.card .header > .type {
  padding: 10px;
  font-size: 16px;
  background-color: #3EC1D3;
  color: #FFFFFF;
  border-radius: 20px;
}
article.card .header > .discount {
  margin-top: 22px;
  padding: 10px;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 20px;
}
article.card .description {
  padding: 20px;
}
article.card .description > .title {
  font-size: 16px;
  line-height: 25px;
}
article.card .description > .review {
  display: flex;
  margin-top: 20px;
}
article.card .description > .review .stars {
  display: flex;
}
article.card .description > .review .stars > div {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #FF165D;
}
article.card .description > .review > .quantity a {
  color: #252A34;
}
article.card .description .info {
  margin-top: 25px;
  padding: 25px 0;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}
article.card .description .info > .item {
  display: flex;
  align-items: center;
  margin-top: 23px;
}
article.card .description .info > .item:first-child {
  margin-top: 0;
}
article.card .description .info > .item > .icon {
  width: 33px;
  height: 33px;
  background-color: #FF165D;
}
article.card .description .info > .item > .text {
  margin-left: 25px;
}
article.card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}
article.card .footer > .price {
  font-weight: bold;
  font-size: 38px;
}

article.card_teacher {
  display: flex;
  flex-direction: column;
  min-width: 343px;
  padding: 10px;
  padding-bottom: 19px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  width: 343px;
}
article.card_teacher button {
  margin: 0 auto;
}
article.card_teacher .person {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #BDBDBD;
}
article.card_teacher .person .img_block {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
  flex-shrink: 0;
}
article.card_teacher .person .full_name {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
article.card_teacher .person .full_name .last_name {
  font-weight: bold;
  line-height: 22px;
}
article.card_teacher .person .full_name .first_name {
  line-height: 22px;
  margin-bottom: 10px;
}
article.card_teacher .person .full_name .position {
  color: #BDBDBD;
}
article.card_teacher .course_list {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #BDBDBD;
}
article.card_teacher .course_list .course_item {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  line-height: 135%;
  margin-bottom: 10px;
}
article.card_teacher .course_list .course_item:last-child {
  margin-bottom: 0;
}
article.card_teacher .course_list .course_item::after {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(image/icons/course_flag.svg);
  background-size: cover;
  width: 11px;
  height: 15px;
}
article.card_teacher .education_list {
  padding: 10px 0;
  margin-bottom: 30px;
}
article.card_teacher .education_list .education_item {
  font-size: 14px;
  margin-bottom: 14px;
}
article.card_teacher .education_list .education_item:last-child {
  margin-bottom: 0;
}
article.card_teacher .education_list .education_item .item {
  font-weight: bold;
}

article.card_organizer {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  width: 343px;
  padding: 20px;
  align-items: center;
}
article.card_organizer .img_block {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #FFFFFF;
}
article.card_organizer .person {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
article.card_organizer .person .name {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 157%;
  margin-bottom: 10px;
}
article.card_organizer .person .name .surname {
  font-weight: bold;
}
article.card_organizer .person .education {
  font-size: 14px;
  line-height: 157%;
  color: #BDBDBD;
  margin-bottom: 20px;
}
article.card_organizer .person .position {
  font-size: 14px;
  line-height: 157%;
  font-weight: bold;
  margin-bottom: 20px;
}
article.card_organizer .contact {
  display: inline-flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 160%;
}
article.card_organizer .contact > div {
  position: relative;
  padding-left: 28px;
  margin-bottom: 20px;
}
article.card_organizer .contact > div:last-child {
  margin-bottom: 0;
}
article.card_organizer .contact > div::before {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
}
article.card_organizer .contact .phone::before {
  background-image: url(/image/icons/phone.svg);
}
article.card_organizer .contact .email::before {
  width: 18px;
  background-image: url(/image/icons/email.svg);
}

article.card_cubs {
  display: flex;
  background: #FFFFFF;
  min-height: 200px;
  border-radius: 15px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  article.card_cubs {
    border-radius: 30px;
  }
}
article.card_cubs .cub {
  min-width: 72px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  article.card_cubs .cub {
    min-width: 245px;
    background-size: 100px;
  }
}
@media screen and (min-width: 1280px) {
  article.card_cubs .cub {
    min-width: 80px;
    background-size: 60px;
  }
}
@media screen and (min-width: 1920px) {
  article.card_cubs .cub {
    min-width: 160px;
    background-size: 100px;
  }
}
article.card_cubs .cub.red {
  background-color: #FF165D;
  background-image: url("/image/cub_black.png");
}
article.card_cubs .cub.blue {
  background-color: #3EC1D3;
  background-image: url("/image/cub_yellow.png");
}
article.card_cubs .cub.black {
  background-color: #252A34;
  background-image: url("/image/cub_black.png");
}
article.card_cubs .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  article.card_cubs .content {
    padding: 20px;
  }
}
article.card_cubs .content .title {
  font-weight: bold;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  article.card_cubs .content .title {
    font-size: 16px;
  }
}
article.card_cubs .content .text {
  margin-top: 10px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  article.card_cubs .content .text {
    margin-top: 20px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  article.card_cubs .content .text {
    margin-top: 20px;
    font-size: 16px;
  }
}
article.card_cubs .content .bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
article.card_cubs .content .bottom-container .price {
  align-self: flex-end;
  font-size: 12px;
  font-weight: bold;
  color: #3EC1D3;
}
@media screen and (min-width: 768px) {
  article.card_cubs .content .bottom-container .price {
    font-size: 16px;
  }
}
article.card_cubs .content .bottom-container .card_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
}
@media screen and (min-width: 768px) {
  article.card_cubs .content .bottom-container .card_button {
    width: 60px;
    height: 60px;
  }
}
article.card_cubs .content .bottom-container .card_button img {
  width: 10px;
}

article.card_review {
  display: flex;
  flex-direction: column;
  min-width: 343px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
  width: 343px;
}
article.card_review .person {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #BDBDBD;
}
article.card_review .person .img_block {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gray;
  flex-shrink: 0;
}
article.card_review .person .full_name {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
article.card_review .person .full_name .last_name {
  font-weight: bold;
  line-height: 157%;
}
article.card_review .person .full_name .first_name {
  line-height: 157%;
  margin-bottom: 10px;
}
article.card_review .person .full_name .position {
  line-height: 157%;
  color: #BDBDBD;
}
article.card_review .course {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #BDBDBD;
}
article.card_review .course .course_item {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  line-height: 135%;
  margin-bottom: 10px;
}
article.card_review .course .course_item:last-child {
  margin-bottom: 0;
}
article.card_review .course .course_item::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(image/icons/course_flag.svg);
  background-size: cover;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 15px;
}
article.card_review .course .stars_list {
  display: flex;
}
article.card_review .course .stars_list .star {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
article.card_review .course .stars_list .star img {
  width: 100%;
  height: 100%;
}
article.card_review .review {
  padding: 10px 0;
  padding-right: 20px;
  margin-bottom: 54px;
}
article.card_review .review .review_text {
  font-size: 14px;
  line-height: 157%;
}
article.card_review .review_status {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 152%;
}
article.card_review .review_status .date {
  color: #BDBDBD;
}
article.card_review .review_status .like {
  display: flex;
}
article.card_review .review_status .like .icon_review_fire {
  margin-right: 10px;
}

.test {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}
.test div {
  display: flex;
}
