article.card_teacher{
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
  background-color: $white_color;
  border-radius: $bd_rad_sm;
  box-shadow: $shadow_sm;
  //Nuzhdin@d120-079
  width: 100%;
  //
  @include tablets{
    width: 334px;
  }
  @include laptop{
    padding: 20px;
    width: 373px;
  }
  @include desktop{
    width: 453px;
  }
  & button{
    margin: 0 auto ;
  }
  & .person{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray_light_color;

    & .img_block{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: gray;
      flex-shrink: 0;
      overflow: hidden;
      
      &>img{
        height: 100%;
        width: 100%;
      }
      @include laptop{
        width: 100px;
        height: 100px;
      }
    }

    & .full_name{
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: $fz_sm;

      @include laptop{
        font-size: $fz_md;
        padding-right: 25px;
      }

      & .last_name{
        font-weight: bold;
        line-height: 22px;
      }
      & .first_name{
        line-height: 22px;
        margin-bottom: 10px;
      }
      & .position{
        color: $gray_light_color;

        @include laptop{
          font-size: $fz_sm;
        }
      }
    }
  }
  & .course_list{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid $gray_light_color;

    & .course_item{
      position: relative;
      padding-left: 30px;
      font-size: $fz_sm;
      line-height: 135%;
      margin-bottom: 10px;
      color: $black_color;
      text-decoration: none;

      @include laptop{
        padding-right: 10px;
      }
      @include desktop{
        padding-right: 30px;
      }

      &:last-child{
        margin-bottom: 0;
      }
      &::after{
        content: "";
        display: block;
        position: absolute;
        left: 4px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(image/icons/course_flag.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 15px;
        
      }
    }
  }
  & .education_list{
    padding: 10px 0;
    margin-bottom: 30px;

    @include tablets{
      margin-bottom: 40px;
    }
    
    & .education_item{
      font-size: $fz_sm;
      margin-bottom: 14px;
      &:last-child{
        margin-bottom: 0;
      }

      & .item{
        font-weight: bold;
      }
    }
  }
  & .button{
    margin: auto;

    @include tablets{
      font-size: $fz_sm;
    }
    @include laptop{
      font-size: $fz_md;
    }
  }
}