article.card {
  background-color: $white_color;
  border-radius: $bd_rad_sm;
  overflow: hidden;

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 300px;
    background-size: cover;

    & > .type {
      padding: 10px;
      font-size: $fz_md;
      background-color: $accent_color;
      color: $white_color;
      border-radius: 20px;
    }

    & > .discount {
      margin-top: 22px;
      padding: 10px;
      font-size: $fz_sm;
      background-color: $white_color;
      border-radius: 20px;
    }
  }

  .description {
    padding: 20px;

    & > .title {
      font-size: $fz_md;
      line-height: 25px;
    }

    & > .review {
      display: flex;
      margin-top: 20px;

      .stars {
        display: flex;

        & > div {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          background-color: $primary_color;
        }
      }

      & > .quantity a {
        color: $black_color;
      }
    }

    .info {
      margin-top: 25px;
      padding: 25px 0;
      border-top: 1px solid $gray_light_color;
      border-bottom: 1px solid $gray_light_color;

      & > .item {
        display: flex;
        align-items: center;
        margin-top: 23px;

        &:first-child {
          margin-top: 0;
        }

        & > .icon {
          width: 33px;
          height: 33px;
          background-color: $primary_color;
        }

        & > .text {
          margin-left: 25px;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;

    & > .price {
      font-weight: bold;
      font-size: $fz_xl;
    }
  }
}