article.card_organizer{
  display: flex;
  flex-direction: column;
  background-color: $white_color;
  border-radius: $bd_rad_sm;
  box-shadow: $shadow_sm;
  width: 343px;
  padding: 20px;
  align-items: center;

  @include tablets{
    width: 334px;
  }

  @include laptop{
    width: 275px;
  }

  @include desktop{
    width: 330px;
  }

  & .img_block{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: $white_color;

    &>img{
      width: 100%;
      height: 100%;
    }
  }

  & .person{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .name{
      display: flex;
      flex-direction: column;
      font-size: $fz_md;
      line-height: 157%;
      margin-bottom: 10px;
      & .surname{
        font-weight: bold;
      }
    }
    
    & .education{
      font-size: $fz_sm;
      line-height: 157%;
      color: $gray_light_color;
      margin-bottom: 20px;
    }

    & .position{
      font-size: $fz_sm;
      line-height: 157%;
      font-weight: bold;
      margin-bottom: 20px;

      @include laptop{
        font-size: $fz_xsm;
      }
      @include desktop{
        font-size: $fz_sm;
      }
    }
  }

  & .contact{
    display: inline-flex;
    flex-direction: column;
    font-size: $fz_md;
    line-height: 160%;
    &>div{
      position: relative;
      padding-left: 28px;
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }

      &::before{
        display: block;
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;
      }
    }

    & .phone::before{
      background-image: url(/image/icons/phone.svg);
    }
    & .email::before{
      width: 18px;
      background-image: url(/image/icons/email.svg);
    }
  }
}