<div class="learning-map container">
  <h2 class="title">
    Дорожная карта образовательного процесса
  </h2>
  {{!-- <p class="description">
    Создание приверженного покупателя, анализируя результаты
    рекламной кампании, переворачивает жизненный цикл продукции.
  </p> --}}

  <section class="cards">
    <article class="card_format">
      <div class="right">
        <div class="index">1</div>
      </div>
      <div class="left">
        <div class="title">
          <span>
            Вы оставляете заявку
          </span>
        </div>
        <div class="text">
          {{!-- <p>
            Создание приверженного покупателя, анализируя результаты
            рекламной кампании, переворачивает жизненный цикл продукции.
          </p> --}}
        </div>
      </div>
    </article>

    <article class="card_format">
      <div class="right">
        <div class="index">2</div>
      </div>
      <div class="left">
        <div class="title">
          <span>
            Вы проходите регистрацию
          </span>
        </div>
        <div class="text">
          {{!-- <p>
            Создание приверженного покупателя, анализируя результаты
            рекламной кампании, переворачивает жизненный цикл продукции.
          </p> --}}
        </div>
      </div>
    </article>
    
    <article class="card_format">
      <div class="right">
        <div class="index">3</div>
      </div>
      <div class="left">
        <div class="title">
          <span>
            Вы заключаете договор
          </span>
        </div>
        <div class="text">
          {{!-- <p>
            Создание приверженного покупателя, анализируя результаты
            рекламной кампании, переворачивает жизненный цикл продукции.
          </p> --}}
        </div>
      </div>
    </article>
    
    <article class="card_format">
      <div class="right">
        <div class="index">4</div>
      </div>
      <div class="left">
        <div class="title">
          <span>
            Вы начинаете обучение
          </span>
        </div>
        <div class="text">
          {{!-- <p>
            Создание приверженного покупателя, анализируя результаты
            рекламной кампании, переворачивает жизненный цикл продукции.
          </p> --}}
        </div>
      </div>
    </article>
    
    <article class="card_format">
      <div class="right">
        <div class="index">5</div>
      </div>
      <div class="left">
        <div class="title">
          <span>
            Вы проходите аттестацию
          </span>
        </div>
        <div class="text">
          {{!-- <p>
            Создание приверженного покупателя, анализируя результаты
            рекламной кампании, переворачивает жизненный цикл продукции.
          </p> --}}
        </div>
      </div>
    </article>
    
    <article class="card_format">
      <div class="right">
        <div class="index">6</div>
      </div>
      <div class="left">
        <div class="title">
          <span>
            Вы получаете диплом
          </span>
        </div>
        <div class="text">
          {{!-- <p>
            Создание приверженного покупателя, анализируя результаты
            рекламной кампании, переворачивает жизненный цикл продукции.
          </p> --}}
        </div>
      </div>
    </article>
  </section>
</div>