{{#if specialOffer}}
<section class="special-offer-container">
  <div class="container">
    <div class="description-container">
      <h2 class="description-title">
        {{specialOffer.title}}
      </h2>
      <p class="description-text">
        {{specialOffer.text}}
      </p>
    </div>
    <div class="button-container">
      <a href="{{specialOffer.link}}" class="button">Узнать больше</a>
    </div>
  </div>
</section>
{{/if}}