<section class="graduate-container">
  <div class="container">
    <div class="block">
      <h3 class="title">Аспирантура<br />ГПНТБ СО РАН</h3>

      <article class="card_organizer">
        <div class="img_block">
          <img src="/image/oraganizators/2.png" alt="Туманик Екатерина Николаевна" class="photo">
        </div>
        <div class="person">
          <div class="name">
            <span class="surname fn">Туманик</span>
            <span class="fullname fn">Екатерина Николаевна</span>
          </div>
          <span class="education">Кандидат технических наук</span>
          <span class="position">
            Заведующий аспирантурой отдела непрерывного проф. образования
          </span>
        </div>
        <div class="contact">
          <div class="phone tel">
            <span class="value">(383) 373-06-58</span>
          </div>
          <div class="email">
            <span class="value">tumanik@gpntbsib.ru</span>
          </div>
        </div>
      </article>

      <div class="button-container">
        <button class="button color_red">
          Заказать звонок
        </button>
      </div>
    </div>
  </div>
</section>