<nav class="navigation">
  <ul class="navigation__list">
    <li class="active">
      <a href="#section-1">
        Сведения о приеме в аспирантуру на 2020/2021 учебный год
      </a>
    </li>
    <li>
      <a href="#section-2">
        Общая информация о программе подготовки научно-
        педагогических кадров в аспирантуре ГПНТБ СО РАН
      </a>
    </li>
    <li>
      <a href="#section-3">
        Программы кандидатских экзаменов
      </a>
    </li>
    <li>
      <a href="#section-4">
        Дополнительная информация
      </a>
    </li>
  </ul>
</nav>