<section class="content-container container">
  <nav class="navigation">
    <ul>
      <li>
        <a href="#section-1">
          Сведения о приеме в аспирантуру на 2020/2021 учебный год
        </a>
      </li>
      <li>
        <a href="#section-2">
          Общая информация о программе подготовки научно-
          педагогических кадров в аспирантуре ГПНТБ СО РАН
        </a>
      </li>
      <li>
        <a href="#section-3">
          Программы кандидатских экзаменов
        </a>
      </li>
      <li class="active">
        <a href="#section-4">
          Дополнительная информация
        </a>
      </li>
    </ul>
  </nav>
  <div class="links-block" id="section-3">
    <h2 class="title">
      Дополнительная информация
    </h2>
    <section class="list-container">
      <ul>
        <li>
          <a href="#">
            Информация о сроке действия государственной
            аккредитации образовательной программы, о языках,
            на которых осуществляется образование (обучение)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о численности обучающихся по реализуемым
            образовательным программам за счет бюджетных ассигнований
            федерального бюджета, бюджетов субьектов Российской Федерации,
            местных бюджетов и по договорам об образовании за счет средств
            физических и(или) юридических лиц (doc)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о результатах перевода,
            восстановления и отчисления (doc)
          </a>
        </li>
        <li>
          <a href="#">
            Информация по образовательным программам, в том числе
            адаптированным. Образовательная программа
            (объем программы по годам) (doc)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о практиках, предусмотренных
            соответствующей образовательной программой
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>