<section class="content-container container">
  <div class="links-block" id="section-4">
    <h2 class="title">
      Дополнительная информация
    </h2>
    <section class="list-container">
      <ul>
        <li>
          <a href="#">
            Информация о сроке действия государственной
            аккредитации образовательной программы, о языках,
            на которых осуществляется образование (обучение)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о численности обучающихся по реализуемым
            образовательным программам за счет бюджетных ассигнований
            федерального бюджета, бюджетов субьектов Российской Федерации,
            местных бюджетов и по договорам об образовании за счет средств
            физических и(или) юридических лиц (doc)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о результатах перевода,
            восстановления и отчисления (doc)
          </a>
        </li>
        <li>
          <a href="#">
            Информация по образовательным программам, в том числе
            адаптированным. Образовательная программа
            (объем программы по годам) (doc)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о практиках, предусмотренных
            соответствующей образовательной программой
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>