<section class="content-container container">
  <div class="links-block" id="section-3">
    <h2 class="title">
      Программы кандидатских экзаменов
    </h2>
    <section class="list-container">
      <ul>
        <li>
          <a href="#">
            Программа кандидатского экзамена по дисциплине
            «БИБЛИОТЕКОВЕДЕНИЕ, БИБЛИОГРАФОВЕДЕНИЕ И КНИГОВЕДЕНИЕ»
          </a>
        </li>
        <li>
          <a href="#">
            Программа кандидатского экзамена по
            дисциплине «ИСТОРИЯ И ФИЛОСОФИЯ НАУКИ»
          </a>
        </li>
        <li>
          <a href="#">
            Программа кандидатского экзамена по дисциплине «ИНОСТРАННЫЙ ЯЗЫК»
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>