<section class="content-container container">
  <div class="links-block" id="section-2">
    <h2 class="title">
      Общая информация о программе подготовки
      научно-педагогических кадров
      в аспирантуре ГПНТБ СО РАН
    </h2>
    <section class="list-container">
      <ul>
        <li>
          <a href="#">
            Расписание
          </a>
        </li>
        <li>
          <a href="#">
            Учебные планы
          </a>
        </li>
        <li>
          <a href="#">
            Основная профессиональная образовательная программа высшего образования
          </a>
        </li>
        <li>
          <a href="#">
            Фонд оценочных средств
          </a>
        </li>
        <li>
          <a href="#">
            Аннотации к рабочим программам дисциплин
          </a>
        </li>
        <li>
          <a href="#">
            Рабочие программы дисциплин
          </a>
        </li>
        <li>
          <a href="#">
            Программы практик
          </a>
        </li>
        <li>
          <a href="#">
            Государственная итоговая аттестация
          </a>
        </li>
        <li>
          <a href="#">
            Портфолио аспиранта
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>