<section class="content-container container">
  <div class="links-block" id="section-1">
    <h2 class="title">Сведения о приеме в аспирантуру на 2020/2021 учебный год</h2>
    <section class="list-container">
      <ul>
        <li>
          <a href="#">
            Порядок поступления в аспирантуру ГПНТБ СОР РАН
            (приказ о приеме на обучение в аспирантуру № 162 от 30.06.2020 г.)
          </a>
        </li>
        <li>
          <a href="#">
            Приказ об особенностях приема на обучение в аспирантуру
            в соответствии с мерами по профилактике распространения
            новой коронавирусной инфекции (CОVID-19)
            на территории РФ № 125 от 25.05.2020 г.
          </a>
        </li>
        <li>
          <a href="#">
            Правила приема, утвержденные организацией
          </a>
        </li>
        <li>
          <a href="#">
            Информация о сроках начала и завершения приема документов,
            необходимых для поступления, сроках проведения вступительных
            испытаний
          </a>
        </li>
        <li>
          <a href="#">
            Документы необходимые для поступления (заявление и др.)
          </a>
        </li>
        <li>
          <a href="#">
            Условия поступления
          </a>
        </li>
        <li>
          <a href="#">
            Количество мест для приема на обучение по различным
            условиям поступления (в рамках контрольных цифр — без
            выделения целевой квоты
          </a>
        </li>
        <li>
          <a href="#">
            Перечень вступительных испытаний и их приоритетность
            при ранжировании списков поступающих
          </a>
        </li>
        <li>
          <a href="#">
            Шкала оценивания и минимальное количество баллов,
            подтверждающее успешное прохождение вступительного
            испытания (для каждого вступительного испытания)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о формах проведения вступительных испытаний
          </a>
        </li>
        <li>
          <a href="#">
            Программа вступительных испытаний
          </a>
        </li>
        <li>
          <a href="#">
            Информация о языке (языках), на котором
            осуществляется сдача вступительных испытаний
            (для каждого вступительного испытания)
          </a>
        </li>
        <li>
          <a href="#">
            Информация о порядке учета индивидуальных
            достижений, поступающих
          </a>
        </li>
        <li>
          <a href="#">
            Информация о возможности подачи документов,
            необходимых для поступления, в электронной форме
          </a>
        </li>
        <li>
          <a href="#">
            Информацию об особенностях проведения
            вступительных испытаний для поступающих инвалидов
          </a>
        </li>
        <li>
          <a href="#">
            Информация о возможности дистанционной сдачи
            вступительных испытаний
          </a>
        </li>
        <li>
          <a href="#">
            Правила подачи и рассмотрения апелляций по результатам
            вступительных испытаний
          </a>
        </li>
        <li>
          <a href="#">
            Образец договора об оказании платных образовательных услуг
          </a>
        </li>
        <li>
          <a href="#">
            Информация о местах приема документов,
            необходимых для поступления
          </a>
        </li>
        <li>
          <a href="#">
            Информация о почтовых адресах для направления
            документов, необходимых для поступления, об
            электронных адресах для направления документов,
            необходимых для поступления, в электронной форме
          </a>
        </li>
        <li>
          <a href="#">
            Информация о наличии общежития
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>