<section class="home_teacher" id="teachers">
  <div class="container">
    <h1 class="home_title title">преподаватели</h1>
  </div>
  <div class="container_out">
    <div class="swiper-container home_deff_corusel">
      <div class="swiper-wrapper">
        {{#each this}}
        <div class="swiper-slide">
          <div class="container_iner">
            {{>cards/card_teacher this}}
          </div>
        </div>
        {{/each}}
      </div>
      <div class="pagination_wrapper">
        <div class="swiper-button-prev"></div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <a href="/teachers" class="button size_norm color_red">Показать больше</a>
  </div>
</section>