<section class="section_home_infographics">
  <div class="container">
    <h1 class="home_title title_infographics">Образование <span class="no_wrap">в ГПНТБ СО РАН</span></h1>
    <div class="block__card_info">
      <article class="card_infogaraphics">
        <h2 class="title">КОЛИЧЕСТВО </br>ОБРАЗОВАТЕЛЬНЫХ ПРОГРАММ</h2>
        <div class="img"><img src="/image/infographic_1.svg" alt=""></div>
        <div class="text">
          <span class="count">17</span>
        </div>
      </article>
      <article class="card_infogaraphics">
        <h2 class="title">КОЛИЧЕСТВО </br>ОБУЧАЮЩИХСЯ СТУДЕНТОВ</h2>
        <div class="img"><img src="/image/infographic_2.svg" alt=""></div>
        <div class="text">
          <span class="count">165</span>
        </div>
      </article>
    </div>
    <div class="map">
      {{>components/map}}
    </div>
    {{!-- <article class="article__advantages">
      <h2 class="title home_subtitle">
        качественный подход </br>к образованию
      </h2>
      <div class="text">
        <p>Создание приверженного покупателя, анализируя результаты рекламной кампании, переворачивает жизненный цикл продукции.</p>
      </div>
      <div class="card__list">
        <article class="card_advantages">
          <img src="/image/icons/add_user.svg" alt="" />
          <h1>Преимущество</h1>
          <p>
            Медиабизнес, как принято считать,
            раскручивает культурный опрос.
          </p>
        </article>
        <article class="card_advantages">
          <img src="/image/icons/chat.svg" alt="" />
          <h1>Преимущество</h1>
          <p>
            Медиабизнес, как принято считать,
            раскручивает культурный опрос.
          </p>
        </article>
        <article class="card_advantages">
          <img src="/image/icons/edit.svg" alt="" />
          <h1>Преимущество</h1>
          <p>
            Медиабизнес, как принято считать,
            раскручивает культурный опрос.
          </p>
        </article>
        <article class="card_advantages">
          <img src="/image/icons/play.svg" alt="" />
          <h1>Преимущество</h1>
          <p>
            Медиабизнес, как принято считать,
            раскручивает культурный опрос.
          </p>
        </article>
      </div>
    </article> --}}

  </div>
</section>