<section class="section_main">
  <div class="container">
    <h1 class="home_subtitle title">ОБРАЗОВАТЕЛЬНЫЕ</br>ПРОГРАММЫ</br>ГПНТБ СО РАН</h1>
    <div class="main_img">
      <img src="" alt="">
    </div>
    <div class="text">
      Медиабизнес, как принято считать, раскручивает культурный опрос. Создание приверженного покупателя, анализируя результаты рекламной кампании, переворачивает жизненный цикл продукции. 
    </div>
    <div class="button_wrap">
      <a href="/catalog" class="button size_norm">Каталог программ</a>
      <a href="" class="button size_norm">Узнать больше</a>
    </div>
  </div>
</section>