<section class="section_home_faq">
  <div class="container">
    <h1 class="title home_title">
      частые вопросы
    </h1>
    <div class="direction">
      <button class="button__direction active" id="training">Дополнительное образование</button>
      {{!-- <button class="button__direction" id="graduate">Аспирантура</button> --}}
    </div>
    {{>components/accordion accordion}}
  </div>
</section>