<article class="card_format">
  <div class="right">
    <div class="index"> {{addOne @index}}  </div>
  </div>
  <div class="left">
    <div class="title">
      <span>
        {{title}}
      </span>
    </div>
    <div class="text">
      {{!-- <p>
        {{text}}
      </p> --}}
    </div>
  </div>
</article>