<section class="form-container">
  <div class="container">
    <h2 class="title">Оставьте свой отзыв</h1>

    <form action="" method="post" class="form">
      <div class="form_input">
        <input type="text" name="name" id="input_name" placeholder="Фамилия, имя, отчество">
      </div>
      <div class="form_input">
        <input type="text" name="position" id="input_position" placeholder="Должность">
      </div>
      <div class="form_input dropdown">
        <div class="select_input">Наименование образовательной прогрммы</div>
        <div class="wrap_castom_scrollbar">
          <ul class="dropdown_list">
            <li class="dropdown_item">
              <input type="checkbox" class="custom-checkbox" id="course1" name="Курс 1" value="yes">
              <label for="course1">Делопроизводство. Организация документирования управленческой деятельности в организации</label>
            </li>
            <li class="dropdown_item">
              <input type="checkbox" class="custom-checkbox" id="course2" name="Курс 2" value="yes">
              <label for="course2">Культурно-досуговая деятельность библиотек в современных социокультурных условиях</label>
            </li>
            <li class="dropdown_item">
              <input type="checkbox" class="custom-checkbox" id="course3" name="Курс 3" value="yes">
              <label for="course3">Современные инфокоммуникационные технологии. Технологии «ИРБИС»</label>
            </li>
            <li class="dropdown_item">
              <input type="checkbox" class="custom-checkbox" id="course4" name="Курс 4" value="yes">
              <label for="course4">Современные инфокоммуникационные технологии. Технологии «ИРБИС»</label>
            </li>
            <li class="dropdown_item">
              <input type="checkbox" class="custom-checkbox" id="course5" name="Курс 5" value="yes">
              <label for="course5">Современные инфокоммуникационные технологии. Технологии «ИРБИС»</label>
            </li>
            <li class="dropdown_item">
              <input type="checkbox" class="custom-checkbox" id="course6" name="Курс 6" value="yes">
              <label for="course6">Современные инфокоммуникационные технологии. Технологии «ИРБИС»</label>
            </li>
            <li class="dropdown_item">
              <input type="checkbox" class="custom-checkbox" id="course7" name="Курс 7" value="yes">
              <label for="course7">Современные инфокоммуникационные технологии. Технологии «ИРБИС»</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="form_input">
        <input type="text" name="review" id="input_reviews" placeholder="Ваш отзыв">
      </div>

      <div class="grade">
        <div>Общая оценка программы</div>
        <button type="button" class="star"></button>
        <button type="button" class="star"></button>
        <button type="button" class="star"></button>
        <button type="button" class="star"></button>
        <button type="button" class="star"></button>
      </div>

      <div class="button-container">
        <button class="button color_red">Оставить отзыв</button>
      </div>
    </form>
  </div>
</section>