<div class="reviews-list">
  <div class="filter">
    <div class="text_filter">
      <span>
        Фильтр
      </span>
    </div>
    <button class="btn_filter_control btn_back"></button>
    <div class="slider">
      <ul class="filter_list">
        <button class="filter_item active" data-filter="all">
          Все отзывы
        </button>
        <button class="filter_item" data-filter="graduate">
          Аспирантура
        </button>
        <button class="filter_item" data-filter="training">
          Повышение квалификации
        </button>
        <button class="filter_item" data-filter="retraining">
          Профессиональная переподготовка
        </button>
      </ul>
    </div>
    <button class="btn_filter_control btn_next"></button>
  </div>

  <div class="list">
    {{#each reviews}}
      {{>cards/card_review this}}
    {{/each}}
  </div>
</div>