#page_graduate {
  .section_container{
    position: relative;
  }
  .navigation {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    //left: calc(50% - 355px);

    @include tablets {
      display: block;
      width: 240px;
      left: calc(50% - 344px);
    }

    @include laptop {
      width: 275px;
      left: calc(50% - 576px);
    }

    @include desktop {
      width: 330px;
      left: calc(50% - 716px);
    }
    .navigation__list{
      padding-left: 20px;
      position: sticky;
      top: 130px;
    }
    li {
      position: relative;
      margin-top: 20px;
      font-size: $fz_xsm;
      line-height: $fz_lgs;

      &:first-child {
        margin-top: 0;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: -20px;
        top: calc(50% - 5px);
        width: 10px;
        height: 10px;
        background-color: $primary_color;
        border-radius: 50%;
      }

      a {
        display: block;
        text-decoration: none;
        color: $black_color;
      }

      &.active {
        font-weight: bold;
      }

      @include laptop {
        margin-top: 40px;
        font-size: $fz_sm;
      }

      @include desktop {
        font-size: $fz_md;
        line-height: $fz_lgm;
      }
    }
  }

  & h1.title{
    margin-top: 40px;
    font-size: $fz_lg;
    line-height: 160%;
    color: $black_color;

    @include tablets{
      font-size: $fz_mxl;
    }
    @include laptop{
      font-size: $fz_xl;
    }
    @include desktop{
      font-size: $fz_mxl;
    }
  }

  .description-page {
    margin-top: 20px;
    font-size: $fz_sm;
    line-height: $fz_lgs;

    @include tablets{
      width: 70%;
      font-size: $fz_md;
      line-height: $fz_lgm;
    }
    @include laptop{
      font-size: 20px;
      line-height: 32px;
    }
    @include desktop{
      margin-top: 40px;
      font-size: $fz_lg;
      line-height: 44px;
    }
  }

  .special-offer-container {
    margin-top: 40px;
    padding: 20px 0;
    background-color: rgba(255, 22, 93, .8);
    background-image: url(/image/special-offer-1.png);
    background-size: cover;

    @include laptop{
      padding: 40px 0;
    }

    

    & > .container {
      display: flex;
      flex-direction: column;

      @include laptop {
        flex-direction: row;
      }
    }

    .description {

      &-container {
        @include laptop{
          width: 70%;
        }
      }

      &-title {
        font-size: $fz_md;
        line-height: $fz_lgm;
        font-weight: 700;
        color: $white_color;

        @include tablets {
          font-size: $fz_lg;
          line-height: 44px;
        }

        @include desktop {
          font-size: $fz_xl;
          line-height: 60px;
        }
      }

      &-text {
        margin-top: 10px;
        font-size: $fz_xsm;
        line-height: $fz_lgs;
        color: $white_color;

        @include tablets {
          margin-top: 20px;
          width: 70%;
          font-size: $fz_sm;
          line-height: $fz_lgs;
        }

        @include laptop {
          font-size: $fz_lgs;
          line-height: 32px;
        }

        @include desktop {
          font-size: $fz_lg;
          line-height: 44px;
        }
      }
    }

    .button-container {
      align-self: center;
      margin-top: 40px;
      width: 162px;

      @include tablets {
        align-self: flex-end;
        width: 240px;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    
    margin-top: 100px;

    @include tablets {
      flex-direction: column;
      align-items: flex-end;
      //justify-content: space-between;
      margin-top: 120px;
    }

    @include laptop {
      margin-top: 80px;
    }

    @include desktop {
      margin-top: 160px;
    }

    &:first-child {
      margin-top: 40px;

      @include tablets {
        margin-top: 60px;
      }

      @include laptop {
        margin-top: 80px;
      }

      @include desktop {
        margin-top: 80px;
      }
    }

    .links-block {
      @include tablets {
        width: 422px;
      }
      @include laptop {
        width: 770px;
      }
      @include desktop {
        width: 950px;
      }
    }

    .title {
      font-size: $fz_md;
      line-height: $fz_lgm;

      @include laptop {
        font-size: $fz_lg;
        line-height: 44px;
      }
    }

    .list-container {
      margin-top: 20px;
      padding: 10px;
      background-color: $white_color;
      border-radius: 15px;

      @include tablets {
        padding: 20px 10px;
        border-radius: 30px;
      }

      @include laptop {
        padding: 20px;
      }

      @include desktop {
        margin-top: 40px;
        padding: 40px;
      }

      li {
        margin-top: 10px;
        margin-left: 20px;
        list-style-type: disc;
        font-size: $fz_sm;
        line-height: $fz_lgs;
        color: $blue_color;

        &:first-child {
          margin-top: 0;
        }

        @include laptop {
          font-size: $fz_md;
          line-height: $fz_lgm;
        }
      }

      a {
        text-decoration: none;
        color: $blue_color;
      }
    }
  }

  .graduate-container {
    margin: 100px 0;
    background-color: $black_color;
    color: #fff;

    @include tablets {
      margin: 120px 0;
    }

    @include laptop {
      margin: 160px 0;
    }

    .container {
      padding: 20px 0;

      @include laptop {
        padding: 40px 0;
      }
    }

    .block {
      position: relative;
      display: flex;
      flex-direction: column;

      @include tablets {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .title {
      font-size: $fz_lgs;
      line-height: $fz_xl;
      text-transform: uppercase;

      @include tablets {
        font-size: $fz_lg;
        line-height: 44px;
      }

      @include laptop {
        font-size: $fz_xl;
        line-height: 60px;
      }

      @include desktop {
        font-size: $fz_mxl;
        line-height: 92px;
      }
    }

    .card_organizer {
      margin-top: 20px;

      @include tablets {
        margin: 0;
      }
    }

    .button-container {
      margin-top: 40px;
      width: 160px;
      align-self: center;

      @include tablets {
        position: absolute;
        bottom: 0;
        width: 240px;
      }

      @include laptop {
        position: static;
        align-self: flex-end;
      }
    }
  }
  .head {
    & > .container > .title {
      margin-top: 40px;
      font-size: $fz_lgs;
      line-height: 160%;
      text-transform: uppercase;

      @include tablets {
        font-size: $fz_xl;
      }

      @include laptop {
        font-size: $fz_mxl;
      }
    }

    .description {
      margin-top: 20px;
      font-size: $fz_sm;
      line-height: 160%;

      @include tablets {
        width: 423px;
        font-size: $fz_md;
      }

      @include laptop {
        margin-top: 40px;
        width: 570px;
        font-size: $fz_lgs;
      }

      @include desktop {
        width: 823px;
        font-size: $fz_lg;
      }
    }

    .organizers {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      @include tablets {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
      }

      @include laptop {
        flex-wrap: nowrap;
        margin-top: 40px;
      }

      .card_organizer {
        margin-top: 20px;
        @include tablets {
          width: 334px;
        }
        @include laptop {
          width: 275px;
        }
        @include desktop {
          width: 330px;
        }
      }
    }
  }
  
  .photo-background {
    margin-top: 40px;
    height: 200px;
    background-image: url(/image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include tablets {
      margin-top: 80px;
      height: 316px;
    }

    @include laptop {
      height: 400px;
    }

    @include desktop {
      height: 600px;
    }
  }

  .information {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    @include tablets {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 80px;
    }

    .links-container {
      display: none;
      

      @include tablets {
        display: block;
        position: sticky;
        top: 130px;
        width: 260px;
      }

      @include laptop {
        width: 310px;
      }

      @include desktop {
        width: 380px;
      }

      li {
        position: relative;
        padding-left: 20px;
        margin-top: 20px;
        font-size: $fz_sm;
        line-height: 1.4;
        @include tablets{
          font-size: $fz_sm;
          margin-top: 12px;
        }
        @include laptop{
          margin-top: 20px;
          font-size: $fz_md;
        }
        &:first-child {
          margin-top: 0;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 5px);
          left: 0;
          display: block;
          width: 10px;
          height: 10px;
          background-color: $primary_color;
          border-radius: 50%;
        }
        &.active a{
          font-weight: bold;
        }
      }

      a {
        text-decoration: none;
        color: $black_color;  
        display: block; 
      }
      
    }

    .info-container {
      margin-left: auto;
      width: 100%;

      @include tablets {
        width: 405px;
      }
      @include laptop {
        width: 768px;
      }
      @include desktop {
        width: 946px;
      }

      h2.title {
        margin-top: 100px;
        font-size: $fz_md;
        line-height: 160%;
        text-transform: uppercase;

        &:first-child {
          margin-top: 0;
        }

        @include tablets {
          margin-top: 120px;
        }

        @include laptop {
          margin-top: 160px;
          font-size: $fz_lg;
        }
      }

      .paper {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 10px;
        background-color: $white_color;
        border-radius: 15px;

        @include tablets {
          padding: 20px 10px;
          border-radius: 30px;
        }

        @include laptop {
          padding: 20px;
        }

        @include desktop {
          margin-top: 40px;
          padding: 40px;
        }

        a {
          color: $blue_color;
          text-decoration: none;
          display: inline-block;
        }
        .linck_button{
          display: flex;
          align-items: center;
          justify-content: center;
          color:$white_color;
          font-size: $fz_md;
        }

        .document_list{
          display: none;

          &.active{
            display: block;
          }
        }
      }

      .text {
        margin-top: 20px;
        font-size: $fz_xsm;
        line-height: 160%;
        
        &:first-child {
          margin-top: 0;
        }

        @include tablets {
          font-size: $fz_sm;
        }

        @include desktop {
          font-size: $fz_md;
        }

        a {
          color: $blue_color;
          text-decoration: none;
        }

      }

      .subtitle {
        margin-top: 40px;
        font-size: $fz_md;
        text-transform: uppercase;

        @include tablets {
          margin-top: 60px;
        }

        @include laptop {
          margin-top: 20px;
          font-size: $fz_lgs;
        }

        @include desktop {
          margin-top: 80px;
          font-size: $fz_lg;
        }

        &:first-child {
          margin-top: 0;
        }
      }

      .list {
        margin-top: 20px;
        margin-left: 15px;

        &:first-child {
          margin-top: 0;
        }

        li {
          margin-top: 10px;
          font-size: $fz_xsm;
          list-style-type: disc;
          color: $blue_color;

          &:first-child {
            margin-top: 0;
          }

          @include tablets {
            margin-top: 20px;
            font-size: $fz_sm;
          }

          @include desktop {
            font-size: $fz_md;
          }

          span{
            color: $black_color;
            font-weight: bold;
          }
        }
      }

      .buttons-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        @include laptop {
          flex-direction: row;
        }
        span{
          font-size: $fz_xsm;
          font-weight: bold;
        }

        .button {
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }

          @include tablets {
            margin-top: 40px;
          }

          @include laptop {
            margin-top: 0;
            margin-left: 40px;
            width: 330px;

            &:first-child {
              margin-left: 0;
            }
          }
        }
      }

      .right-button {
        align-self: flex-end;
        margin-top: 40px;
        width: 162px;

        @include tablets {
          width: 240px;
        }

        @include laptop {
          align-self: flex-start;
          margin-top: 20px;
        }

        @include desktop {
          align-self: flex-end;
          margin-top: 60px;
        }
      }
    }
  }

  .contacts {
    margin-top: 100px;
    margin-bottom: 100px;

    @include tablets {
      margin-top: 120px;
      margin-bottom: 120px;
    }

    @include laptop {
      margin-top: 160px;
      margin-bottom: 160px;
    }

    h2.title {
      font-size: $fz_lgs;
      line-height: 160%;
      text-transform: uppercase;

      @include tablets {
        font-size: $fz_lg;
      }

      @include laptop {
        font-size: $fz_xl;
      }
    }

    .grid {
      display: flex;
      flex-direction: column;
      align-self: stretch;

      @include tablets {
        flex-direction: row;
        justify-content: space-between ;
      }
    }

    .work-schedule {
      margin-top: 20px;

      @include tablets {
        margin-top: 40px;
        width: 300px;
      }

      @include laptop {
        width: 450px;
      }
    }

    h3.title {
      font-size: $fz_md;
      line-height: 160%;
      text-transform: uppercase;

      @include tablets {
        font-size: $fz_lgs;
      }

      @include laptop {
        font-size: $fz_lg;
      }
    }

    .address {
      position: relative;
      margin-top: 20px;
      padding-left: 30px;
      font-size: $fz_md;
      line-height: 160%;
      font-style: normal;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        display: block;
        width: 15px;
        height: 17px;
        background-image: url(image/icons/geo_accent.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      @include tablets {
        margin-top: 40px;
      }
    }
    
    .schedule {
      position: relative;
      margin-top: 20px;
      padding-left: 30px;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        display: block;
        width: 15px;
        height: 17px;
        background-image: url(image/icons/clock_accent.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      div {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: $fz_md;
        line-height: 160%;
      }

      span {
        width: 125px;
      }

      span.red {
        color: red;
      }
    }

    .phone {
      position: relative;
      margin-top: 20px;
      padding-left: 30px;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        display: block;
        width: 15px;
        height: 17px;
        background-image: url(image/icons/phone.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      a {
        font-size: $fz_md;
        text-decoration: none;
        color: $black_color;
      }
    }

    .email {
      position: relative;
      margin-top: 20px;
      padding-left: 30px;

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        left: 0;
        display: block;
        width: 15px;
        height: 17px;
        background-image: url(image/icons/email.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      a {
        font-size: $fz_md;
        text-decoration: none;
        color: $black_color;
      }
    }

    .map {
      margin-top: 20px;
      min-height: 250px;
      background-image: url(/image/address-map.png);
      background-repeat: no-repeat;
      background-position: -145px -60px;
      background-size: 150%;
      border-radius: 15px;

      @include tablets {
        width: 334px;
        background-size: 200%;
        background-position: -230px 15px;
        border-radius: 30px;
      }

      @include laptop {
        width: 668px;
        background-size: 120%;
        background-position: -120px -42px;
      }

      @include desktop {
        width: 823px;
        background-size: 100%;
        background-position: 0px -8px;
      }
    }
  }
}
