#reviews {
  .section__list_rewive{
    margin-bottom: 100px;
    @include tablets{
      margin-bottom: 120px;
    }
    @include laptop{
      margin-bottom: 160px;
    }
  }
  & > .container > h1.title{
    margin-top: 40px;
    font-size: $fz_lg;
    line-height: 160%;
    color: $black_color;

    @include tablets{
      font-size: $fz_mxl;
    }
    @include laptop{
      width: 70%;
      font-size: $fz_xl;
    }
    @include desktop{
      font-size: $fz_mxl;
    }
  }

  .reviews-list {

    .filter {
      margin-top: 10px;
  
      @include tablets {
        margin-top: 20px;
      }
  
      @include laptop {
        margin-top: 40px;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      @include tablets{
        margin-right: -10px;
      }
      @include laptop{
        margin-right: -20px;
      }
      @include desktop{
        margin-right: -40px;
      }
    }

    .card_review {
      margin-top: 20px;
      width: 100%;
      height: unset;

      @include tablets {
        width: calc(50% - 10px);
        margin-right: 10px;
      }

      @include laptop {
        width: calc(33% - 18px);
        margin-right: 20px;
      }

      @include desktop {
        margin-top: 40px;
        margin-right: 40px;
        width: calc(33% - 37px);
      }
    }
  }

  .form-container {
    margin-bottom: 100px 0;
    padding: 20px 0;
    color: $white_color;
    background-color: $black_color;

    @include tablets {
      margin-bottom: 120px 0;
    }

    @include laptop {
      margin-bottom: 160px 0;
      padding: 40px 0;
    }

    .title {
      font-size: $fz_lg;
      line-height: 160%;

      @include tablets {
        width: 40%;
        font-size: $fz_xl;
      }

      @include laptop {
        width: 50%;
        font-size: $fz_mxl;
      }

      @include desktop {
        width: 50%;
        font-size: $fz_xxl;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      @include laptop {
        margin-left: auto;
        margin-right: auto;
        width: 570px;
      }

      @include desktop {
        width: 700px;
      }

      .form_input{
        border-bottom: 1px solid $white_color ;
        margin-bottom: 20px;
        position: relative;

        &.dropdown{
          &>input:focus::placeholder{
            color: $white_color;
          }
          &::after{
            
            display: block;
            position: absolute;
            content: "";
            width: 6px;
            height: 6px;
            border-bottom: 1px solid $white_color;
            border-right: 1px solid $white_color;
            right: 7px;
            top: calc(50% - 6px);
            transform: rotate(45deg);
          }

          .wrap_castom_scrollbar{
            display: block;
            position: absolute;
            overflow: hidden;
            z-index: 2;
            right: 0;
            top: calc(100% + 10px);
            width: 100%;
            background-color: $white_color ;
            border-radius: $bd_rad_sm;
            box-shadow: $shadow_sm;
            color: $black_color;
            padding: 10px;
            padding-right: 10px;
            transition: .3s all;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: 0 0;

            .dropdown_list{
              max-height: 200px;
              overflow-y: scroll;
              padding-right: 10px;
              .dropdown_item{
                margin-bottom: 10px;
                @include tablets{
                  margin-bottom: 15px;
                }
                display: flex;
                position: relative;
                cursor: pointer;
                input{
                  position: absolute;
                  opacity: 0;
                  left: -10000px;
  
                  &:checked+label::before{
                    opacity: 1;
                  }
                }
                label{
                  font-size: $fz_xsm;
                  font-weight: bold;
                  position: relative;
                  padding-right: 30px;
                  cursor: pointer;
                  width: 100%;

                  @include tablets{
                    font-size: $fz_md;
                  }
                  &::after{
                    display: block;
                    position: absolute;
                    content: "";
                    right: 4px;
                    top: calc(50% - 7px);
                    width: 14px;
                    height: 14px;
                    border: 2px solid $gray_light_color;
                    border-radius: 5px;
                    @include tablets{
                      width: 16px;
                      height: 16px;
                      top: calc(50% - 9px);
                    }
                  }
                  &::before{
                    display: block;
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 8px;
                    border-bottom: 2px solid #3EC1D3;
                    border-right: 2px solid #3EC1D3;
                    transform: rotate(45deg);
                    top: calc(50% - 5px);
                    right: 9px;
                    opacity: 0;
                    transition: .2s all;
                    @include tablets{
                      width: 7px;
                      height: 10px;
                      top: calc(50% - 7px);
                      right: 9px;
                    }
                  }
                }
              }
  
              &::-webkit-scrollbar { /* 1 - скроллбар */
                width: 4px;
                height: calc(100% - 30px);
                position: absolute;
                border-radius: 10px;
                background-color: #e5e5e5;
                top: 15px;
                right: 6px;
                margin-top: 15px;
                margin-bottom: 15px;
              }
            
              &::-webkit-scrollbar-button { /* 2 - кнопка */
                height: 0;
              }
            
              &::-webkit-scrollbar-track { /* 3 - трек */
                width: 4px;
                height: calc(100% - 30px);
                position: absolute;
                border-radius: 10px;
                background-color: #e5e5e5;
                top: 15px;
                right: 6px;
              }
            
              &::-webkit-scrollbar-track-piece { /* 4 - видимая часть трека */
              }
            
              &::-webkit-scrollbar-thumb { /* 5 - ползунок */
                background-color: $primary_color ;
                width: 100%;
                height: 50px;
                border-radius: 10px;
              }
            
              &::-webkit-scrollbar-corner { /* 6 - уголок */
              }
            
              &::-webkit-resizer { /* 7 - изменение размеров */
              }
              
              // .castom_scroll{
              //   width: 4px;
              //   height: calc(100% - 30px);
              //   position: absolute;
              //   border-radius: 10px;
              //   background-color: #e5e5e5;
              //   top: 15px;
              //   right: 6px;
              //   .slider{
              //     background-color: $primary_color ;
              //     width: 100%;
              //     height: 50px;
              //     border-radius: 10px;
              //   }
              // }
            }
          }
        }
        
        &.active>.wrap_castom_scrollbar{
          opacity: 1;
              transform: scaleY(1);
        }

        input,.select_input{
          width: 100%;
          border:none;
          outline: none;
          background: transparent;
          box-shadow: none;
          color: $white_color;
          font-family: "Gotham";
          font-size: $fz_xsm;
          line-height: 160%;
          margin-bottom: 5px;
          padding-right: 25px;

          @include tablets{
            font-size: $fz_md;
          }

          &::placeholder{
            color: $white_color;
            opacity: 1;
            transition: .3;
          }
          &:focus::placeholder{
            color: transparent;
          }

          &::-webkit-input-placeholder {color:$white_color;}
          &::-moz-placeholder          {color:$white_color;}/* Firefox 19+ */
          &:-moz-placeholder           {color:$white_color;}/* Firefox 18- */
          &:-ms-input-placeholder      {color:$white_color;}
        }
      }
    }

    .grade {
      div {
        margin-bottom: 10px;
        font-size: $fz_xsm;

        @include tablets {
          font-size: $fz_md;
        }
      }

      .star {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        border: none;
        outline: none;
        background-color: inherit;
        background-image: url(/image/icons/star_empty.svg);
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

        @include laptop {
          width: 20px;
          height: 20px;
        }

        &.active {
          background-image: url(/image/icons/star_fill.svg);
        }
      }
    }

    .button-container {
      align-self: center;
      margin-top: 40px;
      width: 170px;

      @include tablets {
        width: 240px;
      }
    }
  }
}
