#teacher {
  .paper {
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: $white_color;
    border-radius: 15px;
    box-shadow:
      0px 4px 6px -4px rgba(24, 39, 75, 0.12),
      0px 8px 8px -4px rgba(24, 39, 75, 0.08);

    @include tablets {
      padding: 20px;
      border-radius: 30px;
    }

    @include desktop {
      padding: 40px;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;

    @include tablets {
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    @include laptop{
      //flex-direction: column;
    }
    .img_block{
      width: 100%;
      height: 54vw;
      border-radius: $bd_rad_sm;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;

      @include tablets{
        border-radius: $bd_rad;
        width: 200px;
        height: 200px;
        flex-shrink: 0;
      }
      @include laptop{
        width: 350px;
        height: 350px;
      }

      @include desktop{
        width: 450px;
        height: 450px;
      }

      .info__photo {
        max-width: 100%;
        max-height: 100%;
        opacity: 0;
        border-radius: 15px;
      }
    }
    .info_laptop{
      display: none;

      @include laptop{
        display: block;
        margin-top: 40px;
      }
    }
    .info_mobile{
      display: block;
      margin-top: 10px;
      @include tablets{
        margin-top: 20px;
      }
      @include laptop{
        display: none;
      }
    }
    .info__description {
      @include tablets {
        margin-left: 20px;
        width: 428px;
      }

      @include laptop {
        margin-left: 40px;
        width: 730px;
      }
    }

    .fullname {
      margin-top: 10px;
      font-size: $fz_sm;
      line-height: 160%;

      @include tablets {
        font-size: $fz_md;
      }

      @include laptop {
        font-size: $fz_lg;
      }

      @include desktop {
        font-size: $fz_lg;
      }

      .surname {
        font-size: $fz_lgs;
        font-weight: bold;

        @include tablets {
          font-size: $fz_lg;
        }

        @include laptop {
          font-size: $fz_xl;
        }
      }

      .name {
        margin-top: 10px;
      }
    }

    .courses {
      margin-top: 20px;

      @include laptop {
        margin-top: 40px;
      }

      li {
        position: relative;
        margin-top: 15px;
        padding-left: 30px;

        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 8px);
          left: 0;
          display: block;
          width: 16px;
          height: 16px;
          background-image: url(image/icons/course_flag.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }

        a {
          color: $black_color;
          text-decoration: none;
          font-size: $fz_sm;
          font-weight: bold;
          line-height: 160%;
          text-transform: uppercase;

          @include tablets {
            font-size: $fz_sm;
          }

          @include laptop {
            font-size: $fz_md;
          }
        }
      }
    }

    .info {
      margin-top: 20px;
      font-size: $fz_sm;
      line-height: 160%;

      @include tablets {
        font-size: $fz_md;
      }

      @include laptop {
        margin-top: 40px;
      }
      
      div {
        margin-top: 10px;
      }
    }
  }

  .description {
    margin-top: 40px;
    .direction_training{
      margin-top: 40px;
      &:first-child{
        margin-top: 0;
      }
      @include laptop{
        width: 1030px;
        margin: 0 auto;
        margin-top: 40px;
      }
    }
    .title{
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      line-height: 1.6;
      text-transform: uppercase;

      @include tablets{
        font-size: 22px;
        width: 525px;
        margin: 0 auto;
      }
      @include laptop{
        width: 740px;
        font-size: 28px;
      }
    }
    .list{
      margin-top: 20px;
    }
    .list_item{
      position: relative;
      margin-top: 10px;

      @include tablets{
        margin-top: 15px;
      }
      @include laptop{
        margin-top: 20px;
      }
      &:first-child{
        margin-top: 0;
      }
    }
    .text{
      font-size: $fz_sm;
      padding-left: 30px;
      display: inline-block;
      @include laptop{
        font-size: $fz_md;
      }
    }
    .index{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: $fz_lgs;
      font-weight: bold;
      color: $primary_color;

      @include tablets{
        font-size: $fz_lg;
      }
      @include laptop{
      }
    }
  }
}