#teachers {
  overflow: hidden;
  margin-bottom: 100px;
  @include tablets{
    margin-bottom: 120px;
  }
  @include laptop{
    margin-bottom: 160px;
  }
  
  & > .container > h1.title{
    margin-top: 40px;
    font-size: $fz_lg;
    line-height: 160%;
    color: $black_color;

    @include tablets{
      font-size: $fz_mxl;
    }
    @include laptop{
      font-size: $fz_xl;
    }
    @include desktop{
      font-size: $fz_mxl;
    }
  }

  .teachers-list {

    .filter {
      margin-top: 10px;
  
      @include tablets {
        margin-top: 20px;
      }
  
      @include laptop {
        margin-top: 40px;
      }
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      @include tablets {
        margin-right: -20px;
      }

      @include desktop {
        margin-right: -40px;
      }
    }
    .card_wrapper {
      width: 100%;
      margin-top: 20px;
      @include tablets {
        width: unset;
        margin-right: 20px;
      }
      @include desktop {
        margin-right: 40px;
        margin-top: 40px;

      }
      .card_teacher {

        width: 100%;
        height: 100%;
  
        @include tablets {
          width: 334px;
        }
  
        @include laptop {
          width: 373px;
        }
  
        @include desktop {
          width: 453px;
        }
      }
    }
  }
}
