.container {
  margin: 0 auto;
  width: 91.6%;

  @include tablets {
    width: 688px;
    min-width: 688px;
    max-width: 848px;

  }

  @include laptop {
    min-width: unset;
    max-width: unset;
    width: 1160px
  }

  @include desktop {
    width: 1440px;
  }
}