.filter{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  margin-top: 43px;
  @include tablets{
    margin-right: 20px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  
  .text_filter{
    position: absolute;
    right: 0;
    bottom: calc(100% + 20px);
    color: $black_color;
    font-size: $fz_sm;
    font-weight: bold;
    line-height: 160%;
    border-bottom: 1px solid $primary_color;

    @include tablets{
      font-size: $fz_md;
    }
    @include laptop{
      bottom: calc(100% + 40px);
    }
  }

  .slider{
    position: relative;
    overflow: hidden;
    height: 40px;
    //width: calc(100% - 140px);
    flex-grow: 1;
    @include tablets{
      height: 60px;
      margin: 0 10px;
    }
    .filter_list{
      display: flex;
      position: absolute;
      left: 0;
      //transition: .1s left;
      user-select: none;  

      .filter_item{
        background-color: transparent;
        font-family: "Gotham";
        outline: none;
        cursor: pointer;
        padding: 0 10px;
        height: 40px;
        margin-right: 20px;
        font-size: $fz_sm;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $black_color;
        border: 1px solid $primary_color;
        border-radius: 30px;
        white-space: nowrap;
        transition: background-color .3s, color .3s;
        &.active{
          background-color: $primary_color;
          color: $white_color;
        }
        &:last-child{
          margin-right: 0;
        }

        @include tablets{
          height: 60px;
          font-size: $fz_md;
        }
      }

      @include tablets{
        height: 60px;
        //padding: 0 20px;
      }
    }
  }
  .btn_next,.btn_back{
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: $shadow_sm;
    background-color: $white_color;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &::before{
      display: block;
      content: "";
      border-bottom: 2px solid $black_color;
      border-right: 2px solid $black_color;
      width: 10px;
      height: 10px;
    }
    @include tablets{
      display: flex;
    }
  }
  .btn_next::before{
      transform: translateX(-2px) rotate(-45deg);
  }
  .btn_back::before{
    transform: translateX(2px) rotate(135deg);
  }
}