.component_header {
  padding: 20px 0px;
  background-color: $white-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: $shadow_sm;
  z-index: 10;

  @include tablets {
    padding: 20px 0;
  }

  @include laptop {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .button__enterens{
    width: 120px;
  }

  .logo {
    width: 40px;
    height: 40px;

    @include tablets {
      height: 60px;
      width: 60px;
    }
  }
  .wrpa_header_links{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: calc(100% - 40px);

    @include tablets{
      width: calc(100% - 60px);
    }
  }
  .header-title {
    display: none;
    margin-left: 20px;
    font-size: $fz_md;
    line-height: $fz_lgm;
    text-transform: uppercase;
    color: $black_color;

    @include tablets {
      display: block;
    }

    @include laptop {
      margin-left: 40px;
      font-size: 20px;
      line-height: 32px;
    }

    @include desktop {
      margin-left: 80px;
      font-size: $fz_lg;
      line-height: 44px;
    }
  }

  .menu {
    display: none;
    margin-left: 20px;
    
    @include tablets {
      display: block;
    }

    @include laptop {
      margin-left: 40px;
    }

    @include desktop {
      margin-left: 80px;
    }

    a {
      margin-left: 20px;
      font-size: $fz_sm;
      text-decoration: none;
      color: $black_color;

      &:first-child {
        margin-left: 0;
      }

      @include laptop {
        font-size: $fz_md;
      }

      @include desktop {
        margin-left: 40px;
      }
    }
  }

  .icons {
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 120px;
    padding-right: 7px;
    padding-left: 3px;

    @include laptop {
      margin-left: 80px;
    }
    @include laptop{
      //width: 35px;
    }
    
    .button-icon {
      //margin: 0 12px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      &.laptop-hide {
        @include laptop {
          display: none;
        }
      }
  
      img {
        width: 20px;
        height: 20px;

        @include tablets {
          height: 23px;
          width: 23px;
        }
      }
    }

  }

  .search {
    display: none;
    margin-left: auto;
    width: 210px;
    color: $gray_light_color;
    border-bottom: 1px solid;

    @include laptop {
      display: flex;
    }

    .icon {
      width: 15px;
      height: 15px;
    }

    .input {
      flex-grow: 1;
      padding: 0 0 5px 10px;
      font-size: $fz_md;
      border: none;
      outline: none;
    }
  }
  .glass{
    margin-right: 20px;
    width: 37px;
    height: 30px;
    img{
      width: 100% !important;
      height: 100% !important;
    }
  }
  .button {
    display: none;
    margin-left: 80px;
    
    @include laptop {
      display: block;
    }
  }
}

.empty-header {
  padding: 10px 0;

  .logo {
    width: 40px;
    height: 40px;
  
    @include tablets {
      height: 60px;
      width: 60px;
    }
  
    @include desktop {
      height: 80px;
      width: 80px;
    }
  }
}

.glass__wrap{
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 150;
  
  &.active{
    display: flex;
  }

  .galss__block{
    padding: 30px 53px;
    display: flex;
    margin-bottom: -20px;
    width: 100%;
    box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
    flex-direction: column;
    //border:1px solid $gray_light_color;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    @include laptop{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .btn_glas__container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      &.w100{
        width: 100%;
      }
      #deff_btn{
        margin-left: 0;
        height: unset;
        padding: 5px 10px;
        width: 230px;
      }
      .glass_btn{
        font-size: 22px;
        padding: 8px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 15px;
        border:1px solid #000;
        box-shadow: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
        margin-right: 10px;
        cursor: pointer;
        &::after{
          display: block;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
        &:last-child{
          margin-right: 0;
        }
        
        &#color_wb{
          
          background-color: black !important;
          &::after{
            background-color: #fff !important;
          }
        }
        &#color_bw{
          background-color: #fff !important;
          &::after{
            background-color: black !important;
          }
        }
        &#color_deff{
          filter:unset !important;
          background-color: $primary_color !important;
          &::after{
            background-color: $white_color !important;
          }
        }

        &.text_norm{
          font-size: 16px !important; 
          &::after{
            display: none;
          }
        }
        &.text_150{
          font-size: 24px !important;
          &::after{
            display: none;
          }
        }
        &.text_125{
          font-size: 20px !important;
          &::after{
            display: none;
          }
        }
      }
    }
    .glas_letter_space{
      margin-left: 10px;
      height: unset;
      padding: 5px 10px;
      width: 180px;
      display: block;
      margin-bottom: 10px;
      &#letter_space_deff{
        letter-spacing: normal;
      }
      &#letter_space_x_2{
        letter-spacing: 2px;
      }
      &#letter_space_x_3{
        letter-spacing: 4px;
        width: 220px;
      }
    }
    .glas__title{
      margin-bottom: 6px;
      font-size: 22px;
      font-weight: bold;
      margin-right: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .glass_chebox{
      width: 40px;
      height: 22px;
      position: relative;
      background-color: $primary_color;
      border: none;
      border-radius: 40px;
      transition: all .3s;
      cursor: pointer;
      &::after{
        top: calc(50% - 8px);
        right: 4px;
        transition: all .3s;
        display: block;
        content:"";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fefefe;
        border-radius: 50%;
      }

      &.active{
        background-color: $gray_light_color;

        &::after{
          right: 20px;
        }
      }
    }
  }
}