.component_header {
  padding: 20px 0px;
  background-color: $white-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: $shadow_sm;
  z-index: 10;

  @include tablets {
    padding: 20px 0;
  }

  @include laptop {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .button__enterens{
    width: 120px;
  }

  .logo {
    width: 40px;
    height: 40px;

    @include tablets {
      height: 60px;
      width: 60px;
    }
  }
  .wrpa_header_links{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: calc(100% - 40px);

    @include tablets{
      width: calc(100% - 60px);
    }
  }
  .header-title {
    display: none;
    margin-left: 20px;
    font-size: $fz_md;
    line-height: $fz_lgm;
    text-transform: uppercase;
    color: $black_color;

    @include tablets {
      display: block;
    }

    @include laptop {
      margin-left: 40px;
      font-size: 20px;
      line-height: 32px;
    }

    @include desktop {
      margin-left: 80px;
      font-size: $fz_lg;
      line-height: 44px;
    }
  }

  .menu {
    display: none;
    margin-left: 20px;
    
    @include tablets {
      display: block;
    }

    @include laptop {
      margin-left: 40px;
    }

    @include desktop {
      margin-left: 80px;
    }

    a {
      margin-left: 20px;
      font-size: $fz_sm;
      text-decoration: none;
      color: $black_color;

      &:first-child {
        margin-left: 0;
      }

      @include laptop {
        font-size: $fz_md;
      }

      @include desktop {
        margin-left: 40px;
      }
    }
  }

  .icons {
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    //width: 120px;
    padding-right: 7px;
    padding-left: 3px;

    @include laptop {
      margin-left: 80px;
    }
    @include laptop{
      width: 35px;
    }
    
    .button-icon {
      //margin: 0 12px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;

      &.laptop-hide {
        @include laptop {
          display: none;
        }
      }
  
      img {
        width: 20px;
        height: 20px;

        @include tablets {
          height: 23px;
          width: 23px;
        }
      }
    }

  }

  .search {
    display: none;
    margin-left: auto;
    width: 210px;
    color: $gray_light_color;
    border-bottom: 1px solid;

    @include laptop {
      display: flex;
    }

    .icon {
      width: 15px;
      height: 15px;
    }

    .input {
      flex-grow: 1;
      padding: 0 0 5px 10px;
      font-size: $fz_md;
      border: none;
      outline: none;
    }
  }

  .button {
    display: none;
    margin-left: 80px;
    
    @include laptop {
      display: block;
    }
  }
}