<section class="home_form">
  <div class="container">
    <h1 class="home_title title">оставьте заявку</br> на обучение</h1>
    <form action="">
      <div class="form_input">
        <input type="text" name="name" id="input_name" placeholder="Как к вам обращатся">
      </div>
      <div class="form_input">
        <input type="text" name="email" id="input_name" placeholder="E-mail">
      </div>
      <div class="form_input">
        <input type="text" name="phone" id="input_name" placeholder="Контактный номер телефона">
      </div>
      <button class="button size_norm color_red">
        Оставить заявку
      </button>
    </form>
  </div>
</section>