//layout setups

@import "_misc/mixins.scss";
@import "_misc/font.scss";
@import "_misc/setup.scss";

// components, page

@import "sections/components.scss";

.test{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;

  & div{
    display: flex;
  }
}