//layout setups

@import "_misc/mixins.scss";
@import "_misc/font.scss";
@import "_misc/setup.scss";

// components, page

@import "sections/components.scss";

.test{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;

  &>div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
}
.size_text_m{
  height: 20px;
  font-size: 16px;
  &::before{
    display: block;
    content: "Mobile";
    @include tablets{
      content: "Tablet";
    }
    @include laptop {
      content: "Laptop";
    }
    @include desktop {
      content: "desector";
    }
  }
  
}