// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet');

@font-face {
	font-family: 'Gotham';
	src: url(/font/GothamPro.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url(/font/Inter-SemiBold.woff2);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham bold';
	src: url(/font/GothamPro-Bold.woff2);
	font-weight: bold;
	font-style: normal;
}
