// params
$red_color: #FF165D;
$white_color: #FFFFFF;
$black_color: #252A34;
$beige_color: #F9F3F3;
$birch_color: #3EC1D3;
$beige_dark_color: #BDBDBD;

// styles
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Gotham;
  font-weight: normal;
}