// params

//colors
$primary_color: #FF165D;
$white_color: #FFFFFF;
$black_color: #252A34;
$bg_color: #F9F3F3;
$accent_color: #3EC1D3;
$gray_light_color: #BDBDBD;
$blue_color: #2F80ED;

//font size

$fz_xsm: 12px;
$fz_sm: 14px;
$fz_md: 16px; 
$fz_lgs: 22px;
$fz_lgm: 25px;
$fz_lg: 28px;
$fz_xl: 38px; 
$fz_mxl: 58px; 
$fz_xxl: 78px; 

//shadows 

$shadow_sm: 0px 4px 6px -4px rgba(24, 39, 75, 0.12), 0px 8px 8px -4px rgba(24, 39, 75, 0.08);
$shadow_md:0px 20px 50px rgba(0, 0, 0, 0.1);

//border-radius

$bd_rad: 30px;
$bd_rad_sm: 15px;


// styles
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Gotham;
  font-weight: normal;
  background-color: $bg_color;
  min-height: 100vh;
  color: $black_color;
  line-height: 160%;

  &.padding {
    padding-top: 83px;
    @include tablets{
      padding-top: 104px;
    }
  }

  &.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.no_img{
    section.section_main > .container
    {
      align-items: center;
    }
    .button_wrap{
      justify-content: center;
    }
    section.section_main .title{
      text-align: center;
    }
    section.section_main .main_img,
    section.section_home_infographics .block__card_info .card_infogaraphics .img,
    article.card_organizer .img_block,
    section.home_info .container .contact .wrap_mab_date .map,
    article.card_teacher .person .img_block,
    article.card_review .person .img_block,
    #structure .photo-background,
    #structure .contacts .map,
    #teacher .info-container .img_block,
    #course .document div,
    #course .description-container .info-container .info-1 .photo
    {
      display: none;;
    }
    article.card .header{
      background-image: none !important;
      height: unset;
    }
    .swiper-container.bg_image{
      background-image: none;
      background-color: #4c5058;
    }
  }

  &.black_white{
    background-color: #fff !important;
    *{
      filter: grayscale(1) !important;
      box-shadow: none !important;
      a{
        text-decoration: underline !important;
      }
    }
    header{
      border-bottom: 1px solid #000;
    }
    section.application-form .container form .form_input.active > .wrap_castom_scrollbar{
      position: relative;
    }
    .slide_course .button{
      border: 1px solid white;
    }
    article.card,
    article.card_format,
    article.card_teacher,
    article.card_review,
    .component_header .drop_menu_mobile,
    article.card_organizer
    {
      border: 1px solid black;
    }
  }

  &.x_150{
    article.card,
    article.card_format,
    article.card_teacher,
    article.card_review,
    article.card_organizer,
    #structure .head .organizers .card_organizer,
    #courses .list-container .list .card_wrapper,
    #teachers .teachers-list .card_wrapper .card_teacher,
    #reviews .reviews-list .card_wrapper .card_review,
    #page_catalog .list .card_wrapper
    {
      @include laptop{
        width: 570px;
      }
      @include desktop{
        width: 700px;
      }
    }

    section.home_info .container .contact .wrap_mab_date{
      @include laptop{
        max-height: 1030px;
      }
      @include desktop{
        max-height: 1050px;
      }
    }
    
    #structure .head .organizers{
      @include laptop{
        flex-wrap: wrap;
      }
      @include desktop{
        flex-wrap: wrap;
      }
    }
    .component_header .drop_menu_mobile{
      width: 470px;
      @include laptop{
        width: 470px;
      }
      @include desktop{
        width: 470px;
      }
    }
    section.home_info .container .contact .wrap_mab_date .date{
      @include laptop{
        max-width: 453px;
        width: 453px;
      }
    }
    section.home_info .container .contact .wrap_mab_date .date .time_work .time_work_item .time{
      @include laptop{
        width: 160px;
      }
    }
    section.home_info .container .contact .wrap_mab_date{
      height: unset;
    }
    section.section_home_infographics .map .article_map .article__map_top .title_map{
      font-size: 21px !important;
    }

    h1.home_title, section.section_main .title,
    #teacher .info-container .fullname .surname
    {
      font-size: 30px !important;
      @include tablets{
        font-size: 50px !important;
      }
      @include laptop{
        font-size: 50px !important;
      }
      @include desktop{
        font-size: 64px !important;
      }
    }
    .button.size_norm{
      width: 250px !important;
    }
    h2.home_subtitle, 
    .title_map, 
    section.section_home_infographics .map .article_map .article__map_top .title_map_desctop,
    .slide_course .top .course .title,
    footer.footer .title,
    #teacher .info-container .fullname,
    #teacher .description .title,
    #course .description-container .specification .module h2, #course .description-container .specification .format h2
    {
      font-size: 25px !important;
      @include tablets{
        font-size: 38px !important;
      }
      @include laptop{
        font-size: 47px !important;
      }
      @include desktop{
        font-size: 50px !important;
      }
    }
    .card_infogaraphics .title{
      line-height: 1.3 !important;
      font-size: 33px !important;
      @include tablets{
        font-size: 28px !important;
      }
      @include laptop{
        font-size: 37px !important;
      }
      @include desktop{
        font-size: 42px !important;
      }
    }
    article.card_dirction .title,
    .card_advantages h1
    {
      line-height: 1.3 !important;
      font-size: 22px !important;
      @include tablets{
        font-size: 26px !important;
      }
      @include laptop{
        font-size: 28px !important;
      }
      @include desktop{
        font-size: 36px !important;
      }
    }

    .accordion_list .accordion_item .top .title,
    section.section_home_infographics .map .article_map .place_list .place_item,
    .component_header .menu a,
    .slide_course .top .course .description,
    .slide_course .top .course .date > span,
    .button,
    #structure .information .links-container li,
    #structure .information .info-container .text,
    #structure .information .info-container .paper a,
    #structure .information .info-container .list,
    #structure .information .info-container .buttons-container span,
    #structure .information .info-container .list li span,
    #structure .contacts .address,
    #structure .contacts .schedule div,
    #structure .contacts .phone a,
    #structure .contacts .email a,
    #page_graduate .information .links-container li,
    #page_graduate .information .info-container .text,
    #page_graduate .information .info-container .list,
    #page_graduate .information .info-container .list li,
    footer.footer .title_ogr,
    section.application-form .container form .agreement,
    .filter .slider .filter_list .filter_item,
    article.card_format .left .title,
    article.card .description > .title,
    article.card .description .info > .item,
    .accordion_list .accordion_item .text_wrap .text,
    article.card_teacher .person .full_name,
    article.card_teacher .education_list .education_item,
    article.card_teacher .course_list .course_item,
    article.card_review .person .full_name,
    article.card_review .course .course_item,
    article.card_review .review .wpra_text .review_text,
    article.card_review .review .wrapper_togle_show_review .toogle_show_review,
    article.card_review .review_status,
    section.application-form .container form .form_input input, section.application-form .container form .form_input .select_input,
    article.card .description > .review,
    section.section_home_faq > .container > .direction .button__direction,
    article.card_organizer .person .name,
    article.card_organizer .person .education,
    article.card_organizer .person .position,
    article.card_organizer .contact,
    section.home_info .container .contact .wrap_mab_date > .subtitle,
    section.home_info .container .contact .wrap_mab_date .date,
    .component_header .drop_menu_mobile > .container .linc_list a.linc,
    section.application-form .container form .form_input.dropdown .wrap_castom_scrollbar .dropdown_list .dropdown_item label,
    article.card .header > .type,
    #teacher .info-container .courses li a,
    #teacher .info-container .info,
    #teacher .description .text,
    #course .description-container .info-container .info-1 .photo span,
    #course .description-container .info-container .info-2,
    #course .description-container .time-info,
    #course .description-container .specification,
    #course .description-container .specification,
    #course .description-container .specification .module h2, #course .description-container .specification .format h2,
    #course .learning-map .item p,
    #course .document h3,
    #course .document p,
    article.card_review .person .full_name .position,
    .slide_course .top .course .review .count
    {
      line-height: 1.6 !important;
      font-size: 21px !important;
      @include tablets{
        font-size: 21px !important;
      }
      @include tablets{
        font-size: 24px !important;
      }
      @include laptop{
        font-size: 24px !important;
      }
    }
  }

  &.x_125{
    article.card,
    article.card_format,
    article.card_teacher,
    article.card_review,
    article.card_organizer,
    #structure .head .organizers .card_organizer,
    #courses .list-container .list .card_wrapper,
    #teachers .teachers-list .card_wrapper .card_teacher,
    #reviews .reviews-list .card_wrapper .card_review,
    #page_catalog .list .card_wrapper
    {
      @include laptop{
        width: 570px;
      }
      @include desktop{
        width: 700px;
      }
    }

    section.home_info .container .contact .wrap_mab_date{
      @include laptop{
        max-height: 1030px;
      }
      @include desktop{
        max-height: 1050px;
      }
    }
    
    #structure .head .organizers{
      @include laptop{
        flex-wrap: wrap;
      }
      @include desktop{
        flex-wrap: wrap;
      }
    }
    .component_header .drop_menu_mobile{
      width: 470px;
      @include laptop{
        width: 470px;
      }
      @include desktop{
        width: 470px;
      }
    }
    section.home_info .container .contact .wrap_mab_date .date{
      @include laptop{
        max-width: 453px;
        width: 453px;
      }
    }
    section.home_info .container .contact .wrap_mab_date .date .time_work .time_work_item .time{
      @include laptop{
        width: 160px;
      }
    }
    section.home_info .container .contact .wrap_mab_date{
      height: unset;
    }
    section.section_home_infographics .map .article_map .article__map_top .title_map{
      font-size: 18px !important;
    }

    h1.home_title, section.section_main .title,
    #teacher .info-container .fullname .surname
    {
      font-size: 25px !important;
      @include tablets{
        font-size: 42px !important;
      }
      @include laptop{
        font-size: 42px !important;
      }
      @include desktop{
        font-size: 54px !important;
      }
    }
    .button.size_norm{
      width: 250px !important;
    }
    h2.home_subtitle, 
    .title_map, 
    section.section_home_infographics .map .article_map .article__map_top .title_map_desctop,
    .slide_course .top .course .title,
    footer.footer .title,
    #teacher .info-container .fullname,
    #teacher .description .title,
    #course .description-container .specification .module h2, #course .description-container .specification .format h2
    {
      font-size: 21px !important;
      @include tablets{
        font-size: 32px !important;
      }
      @include laptop{
        font-size: 40px !important;
      }
      @include desktop{
        font-size: 42px !important;
      }
    }
    .card_infogaraphics .title{
      line-height: 1.3 !important;
      font-size: 28px !important;
      @include tablets{
        font-size: 24px !important;
      }
      @include laptop{
        font-size: 31px !important;
      }
      @include desktop{
        font-size: 35px !important;
      }
    }
    article.card_dirction .title,
    .card_advantages h1
    {
      line-height: 1.3 !important;
      font-size: 19px !important;
      @include tablets{
        font-size: 22px !important;
      }
      @include laptop{
        font-size: 24px !important;
      }
      @include desktop{
        font-size: 30px !important;
      }
    }

    .accordion_list .accordion_item .top .title,
    section.section_home_infographics .map .article_map .place_list .place_item,
    .component_header .menu a,
    .slide_course .top .course .description,
    .slide_course .top .course .date > span,
    .button,
    #structure .information .links-container li,
    #structure .information .info-container .text,
    #structure .information .info-container .paper a,
    #structure .information .info-container .list,
    #structure .information .info-container .buttons-container span,
    #structure .information .info-container .list li span,
    #structure .contacts .address,
    #structure .contacts .schedule div,
    #structure .contacts .phone a,
    #structure .contacts .email a,
    #page_graduate .information .links-container li,
    #page_graduate .information .info-container .text,
    #page_graduate .information .info-container .list,
    #page_graduate .information .info-container .list li,
    footer.footer .title_ogr,
    section.application-form .container form .agreement,
    .filter .slider .filter_list .filter_item,
    article.card_format .left .title,
    article.card .description > .title,
    article.card .description .info > .item,
    .accordion_list .accordion_item .text_wrap .text,
    article.card_teacher .person .full_name,
    article.card_teacher .education_list .education_item,
    article.card_teacher .course_list .course_item,
    article.card_review .person .full_name,
    article.card_review .course .course_item,
    article.card_review .review .wpra_text .review_text,
    article.card_review .review .wrapper_togle_show_review .toogle_show_review,
    article.card_review .review_status,
    section.application-form .container form .form_input input, section.application-form .container form .form_input .select_input,
    article.card .description > .review,
    section.section_home_faq > .container > .direction .button__direction,
    article.card_organizer .person .name,
    article.card_organizer .person .education,
    article.card_organizer .person .position,
    article.card_organizer .contact,
    section.home_info .container .contact .wrap_mab_date > .subtitle,
    section.home_info .container .contact .wrap_mab_date .date,
    .component_header .drop_menu_mobile > .container .linc_list a.linc,
    section.application-form .container form .form_input.dropdown .wrap_castom_scrollbar .dropdown_list .dropdown_item label,
    article.card .header > .type,
    #teacher .info-container .courses li a,
    #teacher .info-container .info,
    #teacher .description .text,
    #course .description-container .info-container .info-1 .photo span,
    #course .description-container .info-container .info-2,
    #course .description-container .time-info,
    #course .description-container .specification,
    #course .description-container .specification,
    #course .description-container .specification .module h2, #course .description-container .specification .format h2,
    #course .learning-map .item p,
    #course .document h3,
    #course .document p,
    article.card_review .person .full_name .position,
    .slide_course .top .course .review .count
    {
      line-height: 1.6 !important;
      font-size: 18px !important;
      @include tablets{
        font-size: 18px !important;
      }
      @include tablets{
        font-size: 20px !important;
      }
      @include laptop{
        font-size: 20px !important;
      }
    }
  }

  &.white_black{
    background-color: #000 !important;
    *{
      filter: grayscale(1) !important;
      box-shadow: none !important;
      background-color: #000 !important;
      color:white !important;
      a{
        text-decoration: underline !important;
      }
    }
    header{
      border-bottom: 1px solid #fff;
    }
    section.application-form .container form .form_input.active > .wrap_castom_scrollbar{
      position: relative;
    }
    .slide_course .button{
      border: 1px solid black;
    }
    article.card,
    article.card_format,
    article.card_teacher,
    article.card_review,
    .component_header .drop_menu_mobile,
    article.card_organizer,
    article.card_dirction .bgc_wrap,
    .glass__wrap .galss__block .btn_glas__container .glass_btn,
    .glass__wrap .galss__block,
    #no_img_chekbox
    {
      border: 1px solid white;
    }

    #show_menu img,
    .component_header .icons
    {
      background-color: #fff !important;
      *{
        background-color: #fff !important;
      }
    }
    .swiper-container.bg_image.home_main_corusel,
    .wrapper_map_content
    {
      background-color: transparent !important;
      *{
        background-color: transparent !important;
      }
      .place_list{
        background-color: #000 !important;
      }
    }
    .glass__wrap{
      background-color: transparent !important;
    }
  }

  &.letter_space_x2{
    letter-spacing: 2px;
    *{
      letter-spacing: 2px;
    }
  }
  &.letter_space_x3{
    letter-spacing: 4px;
    *{
      letter-spacing: 4px;
    }
  }
}

ul,li{
  list-style: none;
}

.overflow_hidden{
  overflow: hidden;
  @include laptop{
    overflow: unset;
  }
}

h1.home_title{
  color: $black_color;
  text-transform: uppercase;
  font-size: $fz_lg;
  font-weight: bold;
  line-height: 160%;
  @include tablets{
    font-size: $fz_xl;
  }
  @include laptop{
    font-size: $fz_mxl;
  }
  @include desktop{
    font-size: $fz_xxl;
  }
}

h2.home_subtitle{
  color: $black_color;
  font-size: $fz_lgs;
  text-transform: uppercase;
  line-height: 160%;
  @include tablets{
    font-size: $fz_lg;
  }
  @include laptop{
    font-size: $fz_xl;
  }
}
