section.section_home_infographics{
  margin-bottom: 100px;
  @include tablets{
    margin-bottom: 120px;
  }
  @include laptop{
    margin-bottom: 160px;
  }
  .no_wrap{
    white-space: nowrap;
  }
  .title_infographics{
    margin-bottom: 20px;
    @include laptop{
      margin-bottom: 40px;
    }
    @include desktop{
      margin-bottom: 60px;
    }
  }
  .block__card_info{
    @include tablets{
      display: flex;
      justify-content: space-between;
    }
    .card_infogaraphics{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: $bd_rad_sm;
      background-color: $white_color ;
      margin-bottom: 20px;
      padding: 10px;

      @include tablets{
        width: 334px;
        border-radius: $bd_rad;
        padding: 20px;
      }
      @include laptop{
        width: 570px;
      }
      @include desktop{
        width: 700px;
        margin-bottom: 40px;
        padding: 40px;
      }
      .title{
        font-size: $fz_sm;
        font-weight: bold;
        line-height: 160%;
        text-align: center;
        margin-bottom: 10px;
        @include tablets{
          font-size: $fz_md;
          margin-bottom: 20px;
        }
        @include laptop{
          font-size: $fz_lg;
        }
      }
      .img{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        @include tablets{
          margin-bottom: 20px;
        }
        @include laptop{
          height: 390px;
          margin-bottom: 40px;
        }
        @include desktop{
          height: 480px;
        }
        img{
          height: 100%;
        }
      }
      .text{
        display: block;
        line-height: 1;
        .count{
          font-size: $fz_lg;
          color: $primary_color;
          font-weight: bold;
          @include tablets{
            font-size: $fz_xl;
          }
          @include laptop{
            font-size: $fz_mxl;
          }
        }
      }
    }
  }
  .map{
    margin-bottom: 100px;
    @include tablets{
      margin-bottom: 120px;
    }
    @include laptop{
      margin-bottom: 160px;
    }
    .article_map{
      width: 100%;
      background-color: $white_color;
      border-radius: $bd_rad_sm;
      padding: 10px;
      @include tablets{
        padding: 20px;
      }
      @include laptop{
        padding: 40px;
      }
      .article__map_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        .title_map,.title_map_desctop{
          font-size: $fz_sm;
          text-transform: uppercase;
          font-weight: bold;
          @include tablets{
            display: none;
            font-size: $fz_md;
            margin-bottom: 20px;
          }
          @include laptop{
            font-size: $fz_lg;
          }
        }
        .title_map_desctop{
          display: none;
          @include tablets{
            display: inline-block;
          }
        }
        .button__hide_list{
          display: none;
          background-color: transparent;
          border: none;
          width: 14px;
          cursor: pointer;
          svg{
            width: 100%;
            height: 100%;
          }

          &.active{
            display: block;
            @include tablets{
              display: none;
            }
          }
        }
      }
      .wrapper_map_content{
        position: relative;
        display: flex;
        justify-content: flex-end;
        &.active{
          .img_map{
            position: absolute;
            top:50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 0;
          }
          .place_list{
            position: relative;
            display: block;
            z-index: 2;
          }
          .wrapper_place_list{
            display: block;
          }
        }
      }
      .img_map{
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        .wrapper_map{
          width: 100%;
          svg{
            width: 100%;
            height: 100%;
          }
        }
        .wrapper_location_list{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          .lacation_list{
            .location_item{
              position: absolute;
              width: 11px;
              height: 13px;
              background-image: url(/image/location.svg);
              background-size: contain;
              cursor: pointer;
              @include tablets{
                width: 15px;
                height: 17px;
              }
              @include laptop{
                width: 28px;
                height: 33px;
              }
              &.central{
                top: 36%;
                left: 14%;
              }
              &.southern{
                top: 53.5%;
                left: 8.5%;
                @include laptop{
                  top: 56%;
                }
              }
              &.northwestern{
                top: 29%;
                left: 28%;
              }
              &.farEastern{
                top: 45%;
                left: 74%;
              }
              &.siberian{
                top: 55%;
                left: 53%;
              }
              &.urals{
                top: 47%;
                left: 38%;
              }
              &.volga{
                top: 49%;
                left: 22%;
              }
            }
          }
        }
      }
      .wrapper_place_list{
        width: 100%;
        display: none;
        @include tablets{
          position: relative;
          z-index: 1;
          overflow: hidden;
          border-radius: $bd_rad;
          border: 1px solid $primary_color;
          width: 395px;
        }
        @include laptop{
          width: 420px;
        }
        .close_window_place_list{

          display: none;
          background-color: transparent;
          border: none;
          width: 14px;
          cursor: pointer;
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 3;
          svg{
            width: 100%;
            height: 100%;
          }
          @include tablets{
            display: block;
          }
        }
      }
      .place_list{
        display: none;
        max-height: 50vh;
        
        background-color: rgba(255, 255, 255, 0.4);
        overflow-x: auto;
        @include tablets{
          height: 355px;
          width: 402px;
          background-color: #fff;
          
          padding: 20px;
        }
        @include laptop{
          width: 430px;
        }
        .title_place_list{
          display: none;
          font-size: $fz_sm;
          line-height: 1.6;
          text-transform: uppercase;
          font-weight: bold;
          @include tablets{
            display: inline-block;
            font-size: $fz_md;
            margin-bottom: 20px;
          }
          @include laptop{
            font-size: 20px;
          }
        }
        .place_item{
          padding-left: 20px;
          margin-bottom: 10px;
          background-image: url(/image/location.svg);
          background-size: 11px 13px;
          background-repeat: no-repeat;
          background-position: left center;
          font-size: $fz_sm;
          line-height: 1.6;

          &:last-child{
            margin-bottom: 0;
          }

          @include tablets{
            font-size: $fz_md;
            margin-bottom: 20px;
            padding-left: 25px;
            background-size: 14px 17px;
          }
        }
      }
    }
  }
  .article__advantages{
    &>.title{
      margin-bottom: 10px;
      @include tablets{
        margin-bottom: 20px;
      }
      @include laptop{
        margin-bottom: 40px;
      }
    }
    &>.text{
      margin-bottom: 10px;
      line-height: 160%;
      font-size: $fz_sm;
      @include tablets{
        font-size: $fz_md;
        margin-bottom: 20px;
        width: 425px;
      }
      @include laptop{
        font-size: 20px;
        margin-bottom: 40px;
      }
    }
    &>.card__list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: -20px;
      @include laptop{
        margin-bottom: 0;
      }
      .card_advantages{
        width: calc(50% - 10px);
        margin-bottom: 20px;

        @include laptop{
          width: calc(25% - 15px);
          margin-bottom: 0;
        }
        @include desktop{
          width: calc(25% - 30px);

        }
      }
    }
  }
}