section.home_section_direction{
  margin-bottom: 100px;

  @include tablets{
    margin-bottom: 120px;
  }
  @include laptop{
    margin-bottom: 160px;
  }

  .container>.title{
    margin-bottom: 20px;

    @include laptop{
      margin-bottom: 40px;
    }
  }

  .article_home_format{
    margin-bottom: 100px;

    @include tablets{
      margin-bottom: 120px;
    }
    @include laptop{
      margin-bottom: 160px;
    }
    &>.title{
      margin-bottom: 10px;
      @include tablets{
        margin-bottom: 20px;
      }
      @include laptop{
        margin-bottom: 40px;
      }
    }
    &>.text{
      color: $black_color;
      font-size: $fz_sm;
      line-height: 160%;
      margin-bottom: 20px;

      @include tablets {
        width: 60%;
        font-size: $fz_md;
      }
      @include laptop{
        width: 50%;
        font-size: 20px;
        margin-bottom: 40px;
      }
    }

    &>.card_list{
      display: flex;
      flex-direction: column;
      
      @include tablets{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: -20px;
        margin-right: -20px;
      }
      @include desktop{
        margin-right: -40px;
        margin-bottom: -40px;
      }


      .card_item{
        margin-bottom: 20px;
        display: flex;
        @include tablets{
          margin-right: 20px;
        }
        @include desktop{
          margin-right: 40px;
          margin-bottom: 40px;
        }

        &:last-child{
          margin-bottom: 0;
          @include tablets{
            margin-bottom: 20px;
          }
          @include desktop{
            margin-bottom: 40px;
          }
        }
      }
    }
  }

  .article_home_courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    &>.courses_list{
      display: none;
      flex-wrap: wrap;
      margin-bottom: 20px;
      @include tablets{
        display: flex;
        margin-right: -20px;
        justify-content: flex-start;
      }
      @include laptop{
        margin-bottom: 40px;
        margin-right: -20px;
      }
      @include desktop{
        margin-right: -40px;
        margin-bottom: 20px;
      }

      .courses_item{
        display: flex;
        margin-bottom: 20px;

        @include tablets{
          margin-right: 20px;
        }
        @include desktop{
          margin-right: 40px;
          margin-bottom: 40px;
        }
      }
    }
    .title{
      margin-bottom: 10px;
      
      @include tablets{
        margin-bottom: 20px;
      }
      @include laptop{
        margin-bottom: 40px;
      }

    }
    .filter{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      position: relative;
      margin-top: 43px;
      @include tablets{
        margin-right: 20px;
        margin-bottom: 40px;
        margin-top: 0;
      }
      
      .text_filter{
        position: absolute;
        right: 0;
        bottom: calc(100% + 20px);
        color: $black_color;
        font-size: $fz_sm;
        font-weight: bold;
        line-height: 160%;
        border-bottom: 1px solid $primary_color;

        @include tablets{
          font-size: $fz_md;
        }
        @include laptop{
          bottom: calc(100% + 40px);
        }
      }

      .slider{
        position: relative;
        overflow: hidden;
        height: 40px;
        //width: calc(100% - 140px);
        flex-grow: 1;
        @include tablets{
          height: 60px;
          margin: 0 10px;
        }
        .filter_list{
          display: flex;
          position: absolute;
          left: 0;
          //transition: .1s left;
          user-select: none;  

          .filter_item{
            background-color: transparent;
            font-family: "Gotham";
            outline: none;
            cursor: pointer;
            padding: 0 10px;
            height: 40px;
            margin-right: 20px;
            font-size: $fz_sm;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $black_color;
            border: 1px solid $primary_color;
            border-radius: 30px;
            white-space: nowrap;
            transition: background-color .3s, color .3s;
            &.active{
              background-color: $primary_color;
              color: $white_color;
            }
            &:last-child{
              margin-right: 0;
            }

            @include tablets{
              height: 60px;
              font-size: $fz_md;
            }
          }

          @include tablets{
            height: 60px;
            //padding: 0 20px;
          }
        }
      }
      .btn_next,.btn_back{
        display: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: $shadow_sm;
        background-color: $white_color;
        border: none;
        outline: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &::before{
          display: block;
          content: "";
          border-bottom: 2px solid $black_color;
          border-right: 2px solid $black_color;
          width: 10px;
          height: 10px;
        }
        @include tablets{
          display: flex;
        }
      }
      .btn_next::before{
          transform: translateX(-2px) rotate(-45deg);
      }
      .btn_back::before{
        transform: translateX(2px) rotate(135deg);
      }
    }

    &>article{
      @include laptop{
        margin-right: 20px;
      }
      @include desktop{
        margin-right: 40px;
        margin-bottom: 40px;
      }
      margin-bottom: 20px;
    }
    
    &>.button_wrpa{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .home_carusel_wrpa{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets{
      display: none;
    }
  }
  .cr_list{
    display: none !important;
    @include tablets{
      display: flex !important;
    }
  }
  .cr_cor{
    display: flex !important;
    @include tablets{
      display: none !important;
    }
  }
}

