<div class="filter">
  <div class="text_filter"><span>
    Фильтр
  </span></div>
  <button class="btn_filter_control btn_back"></button>
  <div class="slider">
    <ul class="filter_list">
      <button class="filter_item active" data-filter="all">
        Все программы
      </button>
      <button class="filter_item" data-filter="pop">
        Популярные программы
      </button>
      <button class="filter_item" data-filter="best">
        Ближайшие программы
      </button>
      <button class="filter_item" data-filter="asp">
        Аспирантура
      </button>
      <button class="filter_item" data-filter="up">
        Повышение квалификации
      </button>
      <button class="filter_item" data-filter="re">
        Профессиональная переподготовка
      </button>
    </ul>
  </div>
  <button class="btn_filter_control btn_next"></button>
</div>