<section class="application-form">
  <div class="container">
    <h1 class="home_title title">оставьте заявку</br> на обучение</h1>
    <form class="home_form_application" id="send-application" method="POST" action="/api/application">
      <div class="form_input">
        <input type="text" name="name" id="input_name" placeholder="Фамилия, имя, отчество">
      </div>
      <div class="form_input">
        <input type="text" name="email" id="input_name1" placeholder="E-mail">
      </div>
      <div class="form_input">
        <input type="text" name="phone" id="input_name2" placeholder="Контактный номер телефона">
      </div>

      <div class="form_input dropdown init_yamps">
        <input type="text" name="location" id="suggest" placeholder="Место жительства">
      </div>
      <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&load=SuggestView&onload=onLoad"></script>
      <script>
        function onLoad (ymaps) {
            var suggestView = new ymaps.SuggestView('suggest');
        }
      </script>


      <div class="form_input dropdown" id='form_input_select_course'>
        <div class="select_input">Наименование образовательной прогрммы</div>
        <div class="wrap_castom_scrollbar">
          <ul class="dropdown_list">
            {{#each formRaioChekboxList}}
              <li class="dropdown_item">
                <input type="radio" class="custom-checkbox" id="course{{this.id}}" name="course" value="{{this.id}}" {{#if checked}}checked{{/if}}>
                <label for="course{{this.id}}">{{this.title}}</label>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="form_input">
        <input type="text" name="wishes" id="input_name5" placeholder="Пожелания">
      </div>
      <div class="agreement">
        <p>Нажимая на кнопку, вы соглашаетесь c условиями предоставления услуг, политикой конфиденциальности и обработкой персональных данных.</p>
      </div>
      <button class="button size_norm color_red">
        Оставить заявку
      </button>
    </form>
  </div>
</section>