<article class="article_map">
  <div class="article__map_top">

    <h2 class="title_map">
      География обучения
    </h2>
    <button class="open_map"></button>
  </div>
  <div class="img_map">
    <div class="wrapper">
      <img src="/image/map_desk.svg" alt="">
      {{!-- <img src="/image/map_russia.png" alt=""> --}}
    </div>
  </div>
</article>