<section class="approach">
  <h2 class="title">
    Качественный подход к образованию
  </h2>

  <div class="list">
    <article class="card_advantages">
      <img src="/image/icons/review_fire.svg" alt="" />
      <h1>Синхронное обучение</h1>
      <p>
        Взаимодействие между студентом
        и преподавателем в режиме
        реального времени
      </p>
    </article>
    <article class="card_advantages">
      <img src="/image/icons/review_fire.svg" alt="" />
      <h1>Сопровождение</h1>
      <p>
        Профессиональное тьюторское сопровождение на всех
        этапах обучения
      </p>
    </article>
    <article class="card_advantages">
      <img src="/image/icons/review_fire.svg" alt="" />
      <h1>Коммуникация</h1>
      <p>
        Доступные инструменты коммуникации
        обучающегося и преподавателя
      </p>
    </article>
    <article class="card_advantages">
      <img src="/image/icons/review_fire.svg" alt="" />
      <h1>Практика</h1>
      <p>
        Обучение гарантирует большое количество
        практических заданий
      </p>
    </article>
  </div>


</section>
