<h2 class="title">
  Выдаваемый документ об образовании
</h2>
<div class="document">
  <h3>
    Удостоверение о повышении
    квалификации установленного образца
  </h3>
  <p>
    Все документы вносятся
    в «Федеральный реестр сведений
    о документах об образовании и (или)
    о квалификации, документах об обучении»
  </p>

  <div>
    <img src="/image/document/{{this}}" alt="">
  </div>
</div>