<section class="learning-map">
  <h2 class="title">
    Дорожная карта обучения
  </h2>

  <div class="map">
      {{#each course.roadMap}}
      <article class="item">
        <div>{{addOne @index}}</div>
        <p>
          {{this}}
        </p>
      </article>
      {{/each}}
  </div>

</section>
