<section class="learning-map">
  <h2 class="title">
    Дорожная карта обучения
  </h2>

  <div class="map">
      <article class="item">
        <div>1</div>
        <p>
          Не позднее чем за три дня
          до начала куратор программы высылает обучающемуся
          на адрес электронной почты расписание занятий
        </p>
      </article>
      <article class="item">
        <div>2</div>
        <p>
          Не позднее чем за сутки до старта программы
          обучающийся получает письмо-инструкцию для подключения
          к онлайн-занятиям и настройке аккаунта
        </p>
      </article>
      <article class="item">
        <div>3</div>
        <p>
          Обучающийся подключается к онлайн-занятиям согласно
          расписанию, слушает лекции, выполняет практические
          задания
        </p>
      </article>
      <article class="item">
        <div>4</div>
        <p>
          По вопросам, требующим уточнения, обучающийся
          консультируется с куратором, закрепленным за
          программой обучения
        </p>
      </article>
  </div>

</section>
