<h2 class="title">Отзывы</h2>
<div class="reviews">

  <div class="carousel">
    <div class="reviews-list carousel-list">
      {{#each reviews}}
        {{>cards/card_review this}}
      {{/each}}
    </div>
    <div class="controls">
      <div class="pagination"></div>
    </div>
  </div>

  <div class="list">
    {{#each reviews}}
      {{>cards/card_review this}}
    {{/each}}
  </div>
</div>